@media(max-width: 639px){
.-dn{display:none!important}

.-m0{margin:0!important}
.-mlra{margin-left:auto!important;
     margin-right:auto!important}
.-mt0{margin-top:0!important}
.-mt15px{margin-top:15px!important}
.-mt30px{margin-top:30px!important}
.-mt45px{margin-top:45px!important}
.-mb0{margin-bottom:0!important}
.-mb15px{margin-bottom:15px!important}
.-mb30px{margin-bottom:30px!important}
.-mb45px{margin-bottom:45px!important}
.-ml0{margin-left:0!important}
.-mr0{margin-right:0!important}
.-p0{padding:0!important}
.-pt0{padding-top:0!important}
.-pt15px{padding-top:15px!important}
.-pt30px{padding-top:30px!important}
.-pt45px{padding-top:45px!important}
.-pb0{padding-bottom:0!important}
.-pb15px{padding-bottom:15px!important}
.-pb30px{padding-bottom:30px!important}
.-pb45px{padding-bottom:45px!important}
.-pl0{padding-left:0!important}
.-pr0{padding-right:0!important}

.-tal{text-align:left!important}
.-tar{text-align:right!important}
.-tac{text-align:center!important}
.-ttu{text-transform:uppercase!important}
.-fwl{font-weight:100!important}
.-fwn{font-weight:400!important}
.-fwb{font-weight:700!important}
.-cfff{color:#fff!important}
.-c000{color:#000!important}
.-bcfff{background-color:#fff!important}
.-bc000{background-color:#000!important}

.-db{display:block!important}
.-dib{display:inline-block!important}
.-fn{float:none!important}
.-fl{float:left!important}
.-fr{float:right!important}
.-pr{position:relative!important}
.-pa{position:absolute!important}
.-pf{position:fixed!important}
.-cb:after{clear:both}.-cb:before,.-cb:after{content:" ";display:table}
}