@media(min-width: 640px) and (max-width: 1023px){
.d-n {display:none!important}
.m-0{margin:0!important}
.mlr-a{margin-left:auto!important;margin-right:auto!important}
.mt-0{margin-top:0!important}
.mt-15px{margin-top:15px!important}
.mt-30px{margin-top:30px!important}
.mt-45px{margin-top:45px!important}
.mb-0{margin-bottom:0!important}
.mb-15px{margin-bottom:15px!important}
.mb-30px{margin-bottom:30px!important}
.mb-45px{margin-bottom:45px!important}
.ml-0{margin-left:0!important}
.mr-0{margin-right:0!important}
.p-0{padding:0!important}
.pt-0{padding-top:0!important}
.pt-15px{padding-top:15px!important}
.pt-30px{padding-top:30px!important}
.pt-45px{padding-top:45px!important}
.pb-0{padding-bottom:0!important}
.pb-15px{padding-bottom:15px!important}
.pb-30px{padding-bottom:30px!important}
.pb-45px{padding-bottom:45px!important}
.pl-0{padding-left:0!important}
.pr-0{padding-right:0!important}

.ta-l{text-align:left!important}
.ta-r{text-align:right!important}
.ta-c{text-align:center!important}
.tt-u{text-transform:uppercase!important}
.fw-l{font-weight:100!important}
.fw-n{font-weight:400!important}
.fw-b{font-weight:700!important}
.c-fff{color:#fff!important}
.c-000{color:#000!important}

.d-b{display:block!important}
.d-ib{display:inline-block!important}
.f-n{float:none!important}
.f-l{float:left!important}
.f-r{float:right!important}
.p-r{position:relative!important}
.p-a{position:absolute!important}
.p-f{position:fixed!important}
.c-b:after{clear:both}
.c-b:before,.c-b:after{content:" ";display:table}
}