/*CSS-library:"Lucy Flash Drive" v. 0.3.0
- - - - - - - - - - - - - - - - - -
||||||||||||||||||||||||||||||
|| ||||| ||| |||    || ||| ||Flash
|| ||||| ||| ||| |||||| | |||||| |
|| ||||| ||| ||| ||||||| ||||||| |
||    |||   ||||    |||| ||||Drive
||||||||||||||||||||||||||||||
- - - - - - - - - - - - - - - - - -*/

/*>>= = = = = = = = = = = = = = = = = = = = <<
--Free simple Widths (aka PocketGrid)
        Lucy-code
= = = = = = = = = = = = = = = = = = = = = = */
/*padding and border - as part width, if necessary, comment out*/
*,*:after,*:before {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/*good old float-grid "your-self-made"*/
.float-grid{width:100%;margin-left:-5px;margin-right:-5px}.float-grid:after{clear:both}
.float-grid:before,.float-grid:after{display:table;content:" ";line-height:0}
.float-cell:first-child{padding-left:0}.float-cell:last-child{padding-right:0}
.float-cell{padding-left:5px;padding-right:5px;width:100%;float:left}
@media(min-width:640px){.float-grid{margin-left:-10px;margin-right:-10px}.float-cell{padding-left:10px;padding-right:10px}}
@media(min-width:1024px){.float-grid{margin-left:-15px;margin-right:-15px}.float-cell{padding-left:15px;padding-right:15px}}

/*>>= = = = = = = = = = = = = = = = = = = = <<
--Widths - responsive/fixed flex-grid utilities
        Lucy-code
= = = = = = = = = = = = = = = = = = = = = = */
/*example:
<wrap>
    <non-grid-content>
    <grid><cell>content (and inner grid)</cell></grid>
</wrap>
*/
.wrap{max-width:1200px;padding-left:10px;padding-right:10px;margin-left:auto;margin-right:auto;width:100%;overflow:hidden}
.grid{margin:0 -5px; padding:5px 0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.cell{padding-left:5px;padding-right:5px;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;overflow:hidden}
/*widths of cells (<div class="cell w1">)*/
.w1{-webkit-flex-basis:8.33333%;-ms-flex-preferred-size:8.33333%;flex-basis:8.33333%;max-width:8.33333%}
.w2{-webkit-flex-basis:16.66667%;-ms-flex-preferred-size:16.66667%;flex-basis:16.66667%;max-width:16.66667%}
.w3{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
.w4{-webkit-flex-basis:33.33333%;-ms-flex-preferred-size:33.33333%;flex-basis:33.33333%;max-width:33.33333%}
.w5{-webkit-flex-basis:41.66667%;-ms-flex-preferred-size:41.66667%;flex-basis:41.66667%;max-width:41.66667%}
.w6{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
.w7{-webkit-flex-basis:58.33333%;-ms-flex-preferred-size:58.33333%;flex-basis:58.33333%;max-width:58.33333%}
.w8{-webkit-flex-basis:66.66667%;-ms-flex-preferred-size:66.66667%;flex-basis:66.66667%;max-width:66.66667%}
.w9{-webkit-flex-basis:75%;-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}
.w10{-webkit-flex-basis:83.33333%;-ms-flex-preferred-size:83.33333%;flex-basis:83.33333%;max-width:83.33333%}
.w11{-webkit-flex-basis:91.66667%;-ms-flex-preferred-size:91.66667%;flex-basis:91.66667%;max-width:91.66667%}
.w12{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}

@media(min-width:640px){
.grid {margin:0 -10px; padding:10px 0}
.cell{padding-left:10px;padding-right:10px}

.w-1{-webkit-flex-basis:8.33333%;-ms-flex-preferred-size:8.33333%;flex-basis:8.33333%;max-width:8.33333%}
.w-2{-webkit-flex-basis:16.66667%;-ms-flex-preferred-size:16.66667%;flex-basis:16.66667%;max-width:16.66667%}
.w-3{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
.w-4{-webkit-flex-basis:33.33333%;-ms-flex-preferred-size:33.33333%;flex-basis:33.33333%;max-width:33.33333%}
.w-5{-webkit-flex-basis:41.66667%;-ms-flex-preferred-size:41.66667%;flex-basis:41.66667%;max-width:41.66667%}
.w-6{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
.w-7{-webkit-flex-basis:58.33333%;-ms-flex-preferred-size:58.33333%;flex-basis:58.33333%;max-width:58.33333%}
.w-8{-webkit-flex-basis:66.66667%;-ms-flex-preferred-size:66.66667%;flex-basis:66.66667%;max-width:66.66667%}
.w-9{-webkit-flex-basis:75%;-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}
.w-10{-webkit-flex-basis:83.33333%;-ms-flex-preferred-size:83.33333%;flex-basis:83.33333%;max-width:83.33333%}
.w-11{-webkit-flex-basis:91.66667%;-ms-flex-preferred-size:91.66667%;flex-basis:91.66667%;max-width:91.66667%}
.w-12{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}
}

@media(min-width:1024px){
.grid{margin:0 -15px; padding:15px 0}
.cell{padding-left:15px;padding-right:15px}

.w--1{-webkit-flex-basis:8.33333%;-ms-flex-preferred-size:8.33333%;flex-basis:8.33333%;max-width:8.33333%}
.w--2{-webkit-flex-basis:16.66667%;-ms-flex-preferred-size:16.66667%;flex-basis:16.66667%;max-width:16.66667%}
.w--3{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
.w--4{-webkit-flex-basis:33.33333%;-ms-flex-preferred-size:33.33333%;flex-basis:33.33333%;max-width:33.33333%}
.w--5{-webkit-flex-basis:41.66667%;-ms-flex-preferred-size:41.66667%;flex-basis:41.66667%;max-width:41.66667%}
.w--6{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
.w--7{-webkit-flex-basis:58.33333%;-ms-flex-preferred-size:58.33333%;flex-basis:58.33333%;max-width:58.33333%}
.w--8{-webkit-flex-basis:66.66667%;-ms-flex-preferred-size:66.66667%;flex-basis:66.66667%;max-width:66.66667%}
.w--9{-webkit-flex-basis:75%;-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}
.w--10{-webkit-flex-basis:83.33333%;-ms-flex-preferred-size:83.33333%;flex-basis:83.33333%;max-width:83.33333%}
.w--11{-webkit-flex-basis:91.66667%;-ms-flex-preferred-size:91.66667%;flex-basis:91.66667%;max-width:91.66667%}
.w--12{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}
}

/*>>= = = = = = = = = = = = = = = = = = = = <<
    offsets of cells (<div class="cell w1 ml1">)
        Lucy-code
= = = = = = = = = = = = = = = = = = = = = = */
.ml1{margin-left:8.33333%}
.ml2{margin-left:16.66667%}
.ml3{margin-left:25%}
.ml4{margin-left:33.33333%}
.ml5{margin-left:41.66667%}
.ml6{margin-left:50%}
.ml7{margin-left:58.33333%}
.ml8{margin-left:66.66667%}
.ml9{margin-left:75%}
.ml10{margin-left:83.33333%}
.ml11{margin-left:91.66667%}

/*the flex alignment along the x/y axis:start(0%), center(50%), end(100%)*/
.x0{-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}
.x50{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;text-align:center}
.x100{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}

.y0{-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start}
.y50{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.y100{-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end}

@media(min-width:640px){
.ml-1{margin-left:8.33333%}
.ml-2{margin-left:16.66667%}
.ml-3{margin-left:25%}
.ml-4{margin-left:33.33333%}
.ml-5{margin-left:41.66667%}
.ml-6{margin-left:50%}
.ml-7{margin-left:58.33333%}
.ml-8{margin-left:66.66667%}
.ml-9{margin-left:75%}
.ml-10{margin-left:83.33333%}
.ml-11{margin-left:91.66667%}

.x-0{-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}
.x-50{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;text-align:center}
.x-100{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}

.y-0{-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start}
.y-50{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.y-100{-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end}
}
@media(min-width:1024px){
.ml--1{margin-left:8.33333%}
.ml--2{margin-left:16.66667%}
.ml--3{margin-left:25%}
.ml--4{margin-left:33.33333%}
.ml--5{margin-left:41.66667%}
.ml--6{margin-left:50%}
.ml--7{margin-left:58.33333%}
.ml--8{margin-left:66.66667%}
.ml--9{margin-left:75%}
.ml--10{margin-left:83.33333%}
.ml--11{margin-left:91.66667%}

.x--0{-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;text-align:start}
.x--50{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;text-align:center}
.x--100{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;text-align:end}

.y--0{-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start}
.y--50{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.y--100{-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end}
}

/*>>= = = = = = = = = = = = = = = = = = = = <<
    flex orders
        Lucy-code
= = = = = = = = = = = = = = = = = = = = = = */
.orders{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.order1,.order2,.order3,.order4,.order5,.order6,.order7,.order8,.order9,.order10,.order11,.order12,.order1st,.order99{
-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}
.order1{-ms-flex-order:1;-webkit-order:1;order:1}
.order2{-ms-flex-order:2;-webkit-order:2;order:2}
.order3{-ms-flex-order:3;-webkit-order:3;order:3}
.order4{-ms-flex-order:4;-webkit-order:4;order:4}
.order5{-ms-flex-order:5;-webkit-order:5;order:5}
.order6{-ms-flex-order:6;-webkit-order:6;order:6}
.order7{-ms-flex-order:7;-webkit-order:7;order:7}
.order8{-ms-flex-order:8;-webkit-order:8;order:8}
.order9{-ms-flex-order:9;-webkit-order:9;order:9}
.order10{-ms-flex-order:10;-webkit-order:10;order:10}
.order11{-ms-flex-order:11;-webkit-order:11;order:11}
.order12{-ms-flex-order:12;-webkit-order:12;order:12}
/*orders first and last*/
.order1st{-ms-flex-order:-1;-webkit-order:-1;order:-1}
.order99{-ms-flex-order:99;-webkit-order:99;order:99}

@media(min-width:640px){
.order-1,.order-2,.order-3,.order-4,.order-5,.order-6,.order-7,.order-8,.order-9,.order-10,.order-11,.order-12,.order-1st,.order-99{
-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}
.order-1{-ms-flex-order:1;-webkit-order:1;order:1}
.order-2{-ms-flex-order:2;-webkit-order:2;order:2}
.order-3{-ms-flex-order:3;-webkit-order:3;order:3}
.order-4{-ms-flex-order:4;-webkit-order:4;order:4}
.order-5{-ms-flex-order:5;-webkit-order:5;order:5}
.order-6{-ms-flex-order:6;-webkit-order:6;order:6}
.order-7{-ms-flex-order:7;-webkit-order:7;order:7}
.order-8{-ms-flex-order:8;-webkit-order:8;order:8}
.order-9{-ms-flex-order:9;-webkit-order:9;order:9}
.order-10{-ms-flex-order:10;-webkit-order:10;order:10}
.order-11{-ms-flex-order:11;-webkit-order:11;order:11}
.order-12{-ms-flex-order:12;-webkit-order:12;order:12}

.order-1st{-ms-flex-order:-1;-webkit-order:-1;order:-1}
.order-99{-ms-flex-order:99;-webkit-order:99;order:99}
}
@media(min-width:1024px){
.order--1,.order--2,.order--3,.order--4,.order--5,.order--6,.order--7,.order--8,.order--9,.order--10,.order--11,.order--12,.order--1st,.order--99{
-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}
.order--1{-ms-flex-order:1;-webkit-order:1;order:1}
.order--2{-ms-flex-order:2;-webkit-order:2;order:2}
.order--3{-ms-flex-order:3;-webkit-order:3;order:3}
.order--4{-ms-flex-order:4;-webkit-order:4;order:4}
.order--5{-ms-flex-order:5;-webkit-order:5;order:5}
.order--6{-ms-flex-order:6;-webkit-order:6;order:6}
.order--7{-ms-flex-order:7;-webkit-order:7;order:7}
.order--8{-ms-flex-order:8;-webkit-order:8;order:8}
.order--9{-ms-flex-order:9;-webkit-order:9;order:9}
.order--10{-ms-flex-order:10;-webkit-order:10;order:10}
.order--11{-ms-flex-order:11;-webkit-order:11;order:11}
.order--12{-ms-flex-order:12;-webkit-order:12;order:12}

.order--1st{-ms-flex-order:-1;-webkit-order:-1;order:-1}
.order--99{-ms-flex-order:99;-webkit-order:99;order:99}
}

/*>>= = = = = = = = = = = = = = = = = = = = <<
Grids for galleries - responsive utilities 
(example <ul class="grid li--4"><li>)
        Lucy-code
= = = = = = = = = = = = = = = = = = = = = = */
.grid>li{padding:5px;list-style:none;overflow:hidden}
.li1>li{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}
.li2>li{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
.li3>li{-webkit-flex-basis:33.33333%;-ms-flex-preferred-size:33.33333%;flex-basis:33.33333%;max-width:33.33333%}
.li4>li{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
.li5>li{-webkit-flex-basis:20%;-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}
.li6>li{-webkit-flex-basis:16.66667%;-ms-flex-preferred-size:16.66667%;flex-basis:16.66667%;max-width:16.66667%}
.li7>li{-webkit-flex-basis:14.28571%;-ms-flex-preferred-size:14.28571%;flex-basis:14.28571%;max-width:14.28571%}
.li8>li{-webkit-flex-basis:12.5%;-ms-flex-preferred-size:12.5%;flex-basis:12.5%;max-width:12.5%}
.li9>li{-webkit-flex-basis:11.11111%;-ms-flex-preferred-size:11.11111%;flex-basis:11.11111%;max-width:11.11111%}
.li10>li{-webkit-flex-basis:10%;-ms-flex-preferred-size:10%;flex-basis:10%;max-width:10%}
.li11>li{-webkit-flex-basis:9.09091%;-ms-flex-preferred-size:9.09091%;flex-basis:9.09091%;max-width:9.09091%}
.li12>li{-webkit-flex-basis:8.33333%;-ms-flex-preferred-size:8.33333%;flex-basis:8.33333%;max-width:8.33333%}

@media(min-width:640px){
.grid>li{padding:10px}
.li-1>li{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}
.li-2>li{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
.li-3>li{-webkit-flex-basis:33.33333%;-ms-flex-preferred-size:33.33333%;flex-basis:33.33333%;max-width:33.33333%}
.li-4>li{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
.li-5>li{-webkit-flex-basis:20%;-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}
.li-6>li{-webkit-flex-basis:16.66667%;-ms-flex-preferred-size:16.66667%;flex-basis:16.66667%;max-width:16.66667%}
.li-7>li{-webkit-flex-basis:14.28571%;-ms-flex-preferred-size:14.28571%;flex-basis:14.28571%;max-width:14.28571%}
.li-8>li{-webkit-flex-basis:12.5%;-ms-flex-preferred-size:12.5%;flex-basis:12.5%;max-width:12.5%}
.li-9>li{-webkit-flex-basis:11.11111%;-ms-flex-preferred-size:11.11111%;flex-basis:11.11111%;max-width:11.11111%}
.li-10>li{-webkit-flex-basis:10%;-ms-flex-preferred-size:10%;flex-basis:10%;max-width:10%}
.li-11>li{-webkit-flex-basis:9.09091%;-ms-flex-preferred-size:9.09091%;flex-basis:9.09091%;max-width:9.09091%}
.li-12>li{-webkit-flex-basis:8.33333%;-ms-flex-preferred-size:8.33333%;flex-basis:8.33333%;max-width:8.33333%}
}
@media(min-width:1024px){
.grid>li{padding:15px}
.li--1>li{-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}
.li--2>li{-webkit-flex-basis:50%;-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
.li--3>li{-webkit-flex-basis:33.33333%;-ms-flex-preferred-size:33.33333%;flex-basis:33.33333%;max-width:33.33333%}
.li--4>li{-webkit-flex-basis:25%;-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
.li--5>li{-webkit-flex-basis:20%;-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}
.li--6>li{-webkit-flex-basis:16.66667%;-ms-flex-preferred-size:16.66667%;flex-basis:16.66667%;max-width:16.66667%}
.li--7>li{-webkit-flex-basis:14.28571%;-ms-flex-preferred-size:14.28571%;flex-basis:14.28571%;max-width:14.28571%}
.li--8>li{-webkit-flex-basis:12.5%;-ms-flex-preferred-size:12.5%;flex-basis:12.5%;max-width:12.5%}
.li--9>li{-webkit-flex-basis:11.11111%;-ms-flex-preferred-size:11.11111%;flex-basis:11.11111%;max-width:11.11111%}
.li--10>li{-webkit-flex-basis:10%;-ms-flex-preferred-size:10%;flex-basis:10%;max-width:10%}
.li--11>li{-webkit-flex-basis:9.09091%;-ms-flex-preferred-size:9.09091%;flex-basis:9.09091%;max-width:9.09091%}
.li--12>li{-webkit-flex-basis:8.33333%;-ms-flex-preferred-size:8.33333%;flex-basis:8.33333%;max-width:8.33333%}
}

/*>>= = = = = = = = = = = = = = = = = = = = <<

--display-none - responsive utilities
        Lucy-code
= = = = = = = = = = = = = = = = = = = = = = */
.dn{display:none!important}
@media(max-width:1023px){
.d-n{display:none!important}
}
@media(min-width:1024px){
.d--n{display:none!important}
}

/*>>= = = = = = = = = = = = = = = = = = = = <<
--margin --padding - responsive utilities
        Lucy-code
= = = = = = = = = = = = = = = = = = = = = = */
.m0{margin:0!important}
.ma{margin:auto!important}
.m0a{margin:0 auto!important}

.mt0{margin-top:0!important}
.mt5px{margin-top:5px!important}
.mt10px{margin-top:10px!important}
.mt15px{margin-top:15px!important}
.mt20px{margin-top:20px!important}
.mt25px{margin-top:25px!important}
.mt30px{margin-top:30px!important}

.mb0{margin-bottom:0!important}
.mb5px{margin-bottom:5px!important}
.mb10px{margin-bottom:10px!important}
.mb15px{margin-bottom:15px!important}
.mb20px{margin-bottom:20px!important}
.mb25px{margin-bottom:25px!important}
.mb30px{margin-bottom:30px!important}

.ml0{margin-left:0!important}
.ml5px{margin-left:5px!important}
.ml10px{margin-left:10px!important}
.ml15px{margin-left:15px!important}
.ml20px{margin-left:20px!important}
.ml25px{margin-left:25px!important}
.ml30px{margin-left:30px!important}

.mr0{margin-right:0!important}
.mr5px{margin-right:5px!important}
.mr10px{margin-right:10px!important}
.mr15px{margin-right:15px!important}
.mr20px{margin-right:20px!important}
.mr25px{margin-right:25px!important}
.mr30px{margin-right:30px!important}

.p0{padding:0!important}

.pt0{padding-top:0!important}
.pt5px{padding-top:5px!important}
.pt10px{padding-top:10px!important}
.pt15px{padding-top:15px!important}
.pt20px{padding-top:20px!important}
.pt25px{padding-top:25px!important}
.pt30px{padding-top:30px!important}

.pb0{padding-bottom:0!important}
.pb5px{padding-bottom:5px!important}
.pb10px{padding-bottom:10px!important}
.pb15px{padding-bottom:15px!important}
.pb20px{padding-bottom:20px!important}
.pb25px{padding-bottom:25px!important}
.pb30px{padding-bottom:30px!important}

.pl0{padding-left:0!important}
.pl5px{padding-left:5px!important}
.pl10px{padding-left:10px!important}
.pl15px{padding-left:15px!important}
.pl20px{padding-left:20px!important}
.pl25px{padding-left:25px!important}
.pl30px{padding-left:30px!important}

.pr0{padding-right:0!important}
.pr5px{padding-right:5px!important}
.pr10px{padding-right:10px!important}
.pr15px{padding-right:15px!important}
.pr20px{padding-right:20px!important}
.pr25px{padding-right:25px!important}
.pr30px{padding-right:30px!important}

@media(min-width:640px){
.m-0{margin:0!important}
.m-a{margin:auto!important}
.m-0a{margin:0 auto!important}

.mt-0{margin-top:0!important}
.mt-5px{margin-top:5px!important}
.mt-10px{margin-top:10px!important}
.mt-15px{margin-top:15px!important}
.mt-20px{margin-top:20px!important}
.mt-25px{margin-top:25px!important}
.mt-30px{margin-top:30px!important}

.mb-0{margin-bottom:0!important}
.mb-5px{margin-bottom:5px!important}
.mb-10px{margin-bottom:10px!important}
.mb-15px{margin-bottom:15px!important}
.mb-20px{margin-bottom:20px!important}
.mb-25px{margin-bottom:25px!important}
.mb-30px{margin-bottom:30px!important}

.ml-0{margin-left:0!important}
.ml-5px{margin-left:5px!important}
.ml-10px{margin-left:10px!important}
.ml-15px{margin-left:15px!important}
.ml-20px{margin-left:20px!important}
.ml-25px{margin-left:25px!important}
.ml-30px{margin-left:30px!important}

.mr-0{margin-right:0!important}
.mr-5px{margin-right:5px!important}
.mr-10px{margin-right:10px!important}
.mr-15px{margin-right:15px!important}
.mr-20px{margin-right:20px!important}
.mr-25px{margin-right:25px!important}
.mr-30px{margin-right:30px!important}

.p-0{padding:0!important}

.pt-0{padding-top:0!important}
.pt-5px{padding-top:5px!important}
.pt-10px{padding-top:10px!important}
.pt-15px{padding-top:15px!important}
.pt-20px{padding-top:20px!important}
.pt-25px{padding-top:25px!important}
.pt-30px{padding-top:30px!important}

.pb-0{padding-bottom:0!important}
.pb-5px{padding-bottom:5px!important}
.pb-10px{padding-bottom:10px!important}
.pb-15px{padding-bottom:15px!important}
.pb-20px{padding-bottom:20px!important}
.pb-25px{padding-bottom:25px!important}
.pb-30px{padding-bottom:30px!important}

.pl-0{padding-left:0!important}
.pl-5px{padding-left:5px!important}
.pl-10px{padding-left:10px!important}
.pl-15px{padding-left:15px!important}
.pl-20px{padding-left:20px!important}
.pl-25px{padding-left:25px!important}
.pl-30px{padding-left:30px!important}

.pr-0{padding-right:0!important}
.pr-5px{padding-right:5px!important}
.pr-10px{padding-right:10px!important}
.pr-15px{padding-right:15px!important}
.pr-20px{padding-right:20px!important}
.pr-25px{padding-right:25px!important}
.pr-30px{padding-right:30px!important}
}
@media(min-width:1024px){
.m--0{margin:0!important}
.m--a{margin:auto!important}
.m--0a{margin:0 auto!important}

.mt--0{margin-top:0!important}
.mt--5px{margin-top:5px!important}
.mt--10px{margin-top:10px!important}
.mt--15px{margin-top:15px!important}
.mt--20px{margin-top:20px!important}
.mt--25px{margin-top:25px!important}
.mt--30px{margin-top:30px!important}

.mb--0{margin-bottom:0!important}
.mb--5px{margin-bottom:5px!important}
.mb--10px{margin-bottom:10px!important}
.mb--15px{margin-bottom:15px!important}
.mb--20px{margin-bottom:20px!important}
.mb--25px{margin-bottom:25px!important}
.mb--30px{margin-bottom:30px!important}

.ml--0{margin-left:0!important}
.ml--5px{margin-left:5px!important}
.ml--10px{margin-left:10px!important}
.ml--15px{margin-left:15px!important}
.ml--20px{margin-left:20px!important}
.ml--25px{margin-left:25px!important}
.ml--30px{margin-left:30px!important}

.mr--0{margin-right:0!important}
.mr--5px{margin-right:5px!important}
.mr--10px{margin-right:10px!important}
.mr--15px{margin-right:15px!important}
.mr--20px{margin-right:20px!important}
.mr--25px{margin-right:25px!important}
.mr--30px{margin-right:30px!important}

.p--0{padding:0!important}

.pt--0{padding-top:0!important}
.pt--5px{padding-top:5px!important}
.pt--10px{padding-top:10px!important}
.pt--15px{padding-top:15px!important}
.pt--20px{padding-top:20px!important}
.pt--25px{padding-top:25px!important}
.pt--30px{padding-top:30px!important}

.pb--0{padding-bottom:0!important}
.pb--5px{padding-bottom:5px!important}
.pb--10px{padding-bottom:10px!important}
.pb--15px{padding-bottom:15px!important}
.pb--20px{padding-bottom:20px!important}
.pb--25px{padding-bottom:25px!important}
.pb--30px{padding-bottom:30px!important}

.pl--0{padding-left:0!important}
.pl--5px{padding-left:5px!important}
.pl--10px{padding-left:10px!important}
.pl--15px{padding-left:15px!important}
.pl--20px{padding-left:20px!important}
.pl--25px{padding-left:25px!important}
.pl--30px{padding-left:30px!important}

.pr--0{padding-right:0!important}
.pr--5px{padding-right:5px!important}
.pr--10px{padding-right:10px!important}
.pr--15px{padding-right:15px!important}
.pr--20px{padding-right:20px!important}
.pr--25px{padding-right:25px!important}
.pr--30px{padding-right:30px!important}
}

/*>>= = = = = = = = = = = = = = = = = = = = <<
--text - responsive utilities
        Lucy-code
= = = = = = = = = = = = = = = = = = = = = = */
.tal{text-align:left!important}
.tar{text-align:right!important}
.tac{text-align:center!important}
.taj{text-align:justify!important}
.ttu{text-transform:uppercase}
.ttn{text-transform:none}
.fsl{font-size:larger!important}
.fss{font-size:smaller!important}
.fw100{font-weight:100!important}
.fw400{font-weight:400!important}
.fw700{font-weight:700!important}
.fsi{font-style:italic!important}
.fsn{font-style:normal!important}

@media(min-width:640px){
.ta-l{text-align:left!important}
.ta-r{text-align:right!important}
.ta-c{text-align:center!important}
.ta-j{text-align:justify!important}
.tt-u{text-transform:uppercase}
.tt-n{text-transform:none}
.fs-l{font-size:larger!important}
.fs-s{font-size:smaller!important}
.fw-100{font-weight:100!important}
.fw-400{font-weight:400!important}
.fw-700{font-weight:700!important}
.fs-i{font-style:italic!important}
.fs-n{font-style:normal!important}
}
@media(min-width:1024px){
.ta--l{text-align:left!important}
.ta--r{text-align:right!important}
.ta--c{text-align:center!important}
.ta--j{text-align:justify!important}
.tt--u{text-transform:uppercase}
.tt--n{text-transform:none}
.fs--l{font-size:larger!important}
.fs--s{font-size:smaller!important}
.fw--100{font-weight:100!important}
.fw--400{font-weight:400!important}
.fw--700{font-weight:700!important}
.fs--i{font-style:italic!important}
.fs--n{font-style:normal!important}
}

/*>>= = = = = = = = = = = = = = = = = = = = <<
--other responsive utilities
        Lucy-code
= = = = = = = = = = = = = = = = = = = = = = */
.db{display:block!important}
.dt{display:table!important}
.di{display:inline!important}
.fn{float:none!important}
.fl{float:left!important}
.fr{float:right!important}
.pr{position:relative!important}
.cb:after{clear:both}.cb:before,.cb:after{content:" ";display:table}

@media(min-width:640px){
.d-b{display:block!important}
.d-t{display:table!important}
.d-i{display:inline!important}
.f-n{float:none!important}
.f-l{float:left!important}
.f-r{float:right!important}
.p-r{position:relative!important}
.c-b:after{clear:both}.c-b:before,.c-b:after{content:" ";display:table}
}

@media(min-width:1024px){
.d--b{display:block!important}
.d--t{display:table!important}
.d--i{display:inline!important}
.f--n{float:none!important}
.f--l{float:left!important}
.f--r{float:right!important}
.p--r{position:relative!important}
.c--b:after{clear:both}.c--b:before,.c--b:after{content:" ";display:table}
}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||end Lucy Flash Drive |||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/