/*CSS-library: "Lucy Flash Drive" v. 0.2.0
- - - - - - - - - - - - - - - - - -
||||||||||||||||||||||||||||||
|| ||||| ||| |||    || ||| ||Flash
|| ||||| ||| ||| |||||| | |||||| |
|| ||||| ||| ||| ||||||| ||||||| |
||    |||   ||||    |||| ||||Drive
||||||||||||||||||||||||||||||
- - - - - - - - - - - - - - - - - -*/

/*>>= = = = = = = = = = = = = = = = = = = = <<

--Free simple Widths (aka PocketGrid)
        Lucy-code
= = = = = = = = = = = = = = = = = = = = = = */
/*padding and border - as part width, if necessary, comment out*/
*,*:after,*:before {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
/*Service code for "self-made" non-standard grids*/
.gridx:before,.gridx:after{display:table;content:" ";line-height:0}
.gridx:after{clear:both}
.gridx{list-style-type:none;padding:0;margin:0}
.gridx>.gridx{clear:none;float:left;margin:0!important}
.wx{float:left;width:100%}

/*>>= = = = = = = = = = = = = = = = = = = = <<

--Widths - non-responsive, non-grid utilities
Hey! Default, and great-base system here
is duodecimal (golden section) calculation - Elfic system
(like "Lord of the Rings" - Lucy loves cute elfs)
Continuation and explanation of the history 
and causes of Lucy is expected soon commits.
        Lucy-code
= = = = = = = = = = = = = = = = = = = = = = */

.mw-100{max-width:100%}
.mw-n{max-width:none}
.w-0px{max-width:0px;width:100%}
.w-50px{max-width:50px;width:100%}
.w-100px{max-width:100px;width:100%}
.w-150px{max-width:150px;width:100%}
.w-200px{max-width:200px;width:100%}
.w-250px{max-width:250px;width:100%}
.w-300px{max-width:300px;width:100%}
.w-350px{max-width:350px;width:100%}
.w-400px{max-width:400px;width:100%}
.w-450px{max-width:450px;width:100%}
.w-500px{max-width:500px;width:100%}
.w-600px{max-width:600px;width:100%}
.w-700px{max-width:700px;width:100%}
.w-800px{max-width:800px;width:100%}
.w-900px{max-width:900px;width:100%}
.w-1000px{max-width:1000px;width:100%}

/*>>= = = = = = = = = = = = = = = = = = = = <<

--Widths - responsive/fixed grid utilities
        Lucy-code
= = = = = = = = = = = = = = = = = = = = = = */
/*example: 
<wrap>
    <non-grid-content>
    <grid><cell>content (and inner grid)</cell></grid>
</wrap>
*/
/*inner ".wrap{max-width:1200px}" for containers create in your custom styles*/
.wrap{padding-left:10px;padding-right:10px;}

@media(min-width:640px){
.wrap{padding-left:20px;padding-right:20px;}
}
@media(min-width:1024px){
.wrap{padding-left:30px;padding-right:30px;}
}

.grid{width:100%;margin:0 auto;}
.grid:before,.grid:after{content:" ";display:table;clear:both}
.cell:first-child{padding-left:0}
.cell:last-child{padding-right:0}
.cell{padding-left:5px;padding-right:5px;
width:100%;float:left;transition:width .5s linear;transition-delay:.2s}

/*elfic (doudecimal) system widths*/
.w1{width:8.33333%}
.w2{width:16.66667%}
.w3{width:25%}
.w4{width:33.33333%}
.w5{width:41.66667%}
.w6{width:50%}
.w7{width:58.33333%}
.w8{width:66.66667%}
.w9{width:75%}
.w10{width:83.33333%}
.w11{width:91.66667%}
.w12{width:100%}

/*it's decimal system widths*/
.w000{width:0%}
.w005{width:5%}
.w01{width:10%}
.w015{width:15%}
.w02{width:20%}
.w025{width:25%}
.w03{width:30%}
.w035{width:35%}
.w04{width:40%}
.w045{width:45%}
.w05{width:50%}
.w055{width:55%}
.w06{width:60%}
.w065{width:65%}
.w07{width:70%}
.w075{width:75%}
.w08{width:80%}
.w085{width:85%}
.w09{width:90%}
.w095{width:95%}
.w100{width:100%}

@media(min-width:640px){
.cell{padding-left:10px;padding-right:10px}

.w-1{width:8.33333%}
.w-2{width:16.66667%}
.w-3{width:25%}
.w-4{width:33.33333%}
.w-5{width:41.66667%}
.w-6{width:50%}
.w-7{width:58.33333%}
.w-8{width:66.66667%}
.w-9{width:75%}
.w-10{width:83.33333%}
.w-11{width:91.66667%}
.w-12{width:100%}

.w-000{width:0%}
.w-005{width:5%}
.w-01{width:10%}
.w-015{width:15%}
.w-02{width:20%}
.w-025{width:25%}
.w-03{width:30%}
.w-035{width:35%}
.w-04{width:40%}
.w-045{width:45%}
.w-05{width:50%}
.w-055{width:55%}
.w-06{width:60%}
.w-065{width:65%}
.w-07{width:70%}
.w-075{width:75%}
.w-08{width:80%}
.w-085{width:85%}
.w-09{width:90%}
.w-095{width:95%}
.w-100{width:100%}
}

@media(min-width:1024px){
.cell{padding-left:15px;padding-right:15px}

.w--1{width:8.33333%}
.w--2{width:16.66667%}
.w--3{width:25%}
.w--4{width:33.33333%}
.w--5{width:41.66667%}
.w--6{width:50%}
.w--7{width:58.33333%}
.w--8{width:66.66667%}
.w--9{width:75%}
.w--10{width:83.33333%}
.w--11{width:91.66667%}
.w--12{width:100%}

.w--000{width:0%}
.w--005{width:5%}
.w--01{width:10%}
.w--015{width:15%}
.w--02{width:20%}
.w--025{width:25%}
.w--03{width:30%}
.w--035{width:35%}
.w--04{width:40%}
.w--045{width:45%}
.w--05{width:50%}
.w--055{width:55%}
.w--06{width:60%}
.w--065{width:65%}
.w--07{width:70%}
.w--075{width:75%}
.w--08{width:80%}
.w--085{width:85%}
.w--09{width:90%}
.w--095{width:95%}
.w--100{width:100%}
}

/*>>= = = = = = = = = = = = = = = = = = = = <<

--Positions aka push, pull, off-set left, 
off-set right - responsive utilities 
        Lucy-code
= = = = = = = = = = = = = = = = = = = = = = */

.l1,.l2,.l3,.l4,.l5,.l6,.l7,.l8,.l9,.l10,.l11
{right:auto;position:relative;padding-left:5px}
.r1,.r2,.r3,.r4,.r5,.r6,.r7,.r8,.r9,.r10,.r11
{left:auto;position:relative;padding-right:5px}

.l1{left:8.33333%}
.l2{left:16.66667%}
.l3{left:25%}
.l4{left:33.33333%}
.l5{left:41.66667%}
.l6{left:50%}
.l7{left:58.33333%}
.l8{left:66.66667%}
.l9{left:75%}
.l10{left:83.33333%}
.l11{left:91.66667%}

.r1{right:8.33333%}
.r2{right:16.66667%}
.r3{right:25%}
.r4{right:33.33333%}
.r5{right:41.66667%}
.r6{right:50%}
.r7{right:58.33333%}
.r8{right:66.66667%}
.r9{right:75%}
.r10{right:83.33333%}
.r11{right:91.66667%}

.ml1{margin-left:8.33333%}
.ml2{margin-left:16.66667%}
.ml3{margin-left:25%}
.ml4{margin-left:33.33333%}
.ml5{margin-left:41.66667%}
.ml6{margin-left:50%}
.ml7{margin-left:58.33333%}
.ml8{margin-left:66.66667%}
.ml9{margin-left:75%}
.ml10{margin-left:83.33333%}
.ml11{margin-left:91.66667%}

.mr1{margin-right:8.33333%}
.mr2{margin-right:16.66667%}
.mr3{margin-right:25%}
.mr4{margin-right:33.33333%}
.mr5{margin-right:41.66667%}
.mr6{margin-right:50%}
.mr7{margin-right:58.33333%}
.mr8{margin-right:66.66667%}
.mr9{margin-right:75%}
.mr10{margin-right:83.33333%}
.mr11{margin-right:91.66667%}

@media(min-width:640px){
.l-1,.l-2,.l-3,.l-4,.l-5,.l-6,.l-7,.l-8,.l-9,.l-10,.l-11
{right:auto;position:relative;padding-left:10px}
.r-1,.r-2,.r-3,.r-4,.r-5,.r-6,.r-7,.r-8,.r-9,.r-10,.r-11
{left:auto;position:relative;padding-right:10px}

.l-1{left:8.33333%}
.l-2{left:16.66667%}
.l-3{left:25%}
.l-4{left:33.33333%}
.l-5{left:41.66667%}
.l-6{left:50%}
.l-7{left:58.33333%}
.l-8{left:66.66667%}
.l-9{left:75%}
.l-10{left:83.33333%}
.l-11{left:91.66667%}

.r-1{right:8.33333%}
.r-2{right:16.66667%}
.r-3{right:25%}
.r-4{right:33.33333%}
.r-5{right:41.66667%}
.r-6{right:50%}
.r-7{right:58.33333%}
.r-8{right:66.66667%}
.r-9{right:75%}
.r-10{right:83.33333%}
.r-11{right:91.66667%}

.ml-1{margin-left:8.33333%}
.ml-2{margin-left:16.66667%}
.ml-3{margin-left:25%}
.ml-4{margin-left:33.33333%}
.ml-5{margin-left:41.66667%}
.ml-6{margin-left:50%}
.ml-7{margin-left:58.33333%}
.ml-8{margin-left:66.66667%}
.ml-9{margin-left:75%}
.ml-10{margin-left:83.33333%}
.ml-11{margin-left:91.66667%}

.mr-1{margin-right:8.33333%}
.mr-2{margin-right:16.66667%}
.mr-3{margin-right:25%}
.mr-4{margin-right:33.33333%}
.mr-5{margin-right:41.66667%}
.mr-6{margin-right:50%}
.mr-7{margin-right:58.33333%}
.mr-8{margin-right:66.66667%}
.mr-9{margin-right:75%}
.mr-10{margin-right:83.33333%}
.mr-11{margin-right:91.66667%}
}

@media(min-width:1024px){
.l--1,.l--2,.l--3,.l--4,.l--5,.l--6,.l--7,.l--8,.l--9,.l--10,.l--11
{right:auto;position:relative;padding-left:15px}
.r--1,.r--2,.r--3,.r--4,.r--5,.r--6,.r--7,.r--8,.r--9,.r--10,.r--11
{left:auto;position:relative;padding-right:15px}

.l--0{left:0%}
.l--1{left:8.33333%}
.l--2{left:16.66667%}
.l--3{left:25%}
.l--4{left:33.33333%}
.l--5{left:41.66667%}
.l--6{left:50%}
.l--7{left:58.33333%}
.l--8{left:66.66667%}
.l--9{left:75%}
.l--10{left:83.33333%}
.l--11{left:91.66667%}

.r--0{right:0%}
.r--1{right:8.33333%}
.r--2{right:16.66667%}
.r--3{right:25%}
.r--4{right:33.33333%}
.r--5{right:41.66667%}
.r--6{right:50%}
.r--7{right:58.33333%}
.r--8{right:66.66667%}
.r--9{right:75%}
.r--10{right:83.33333%}
.r--11{right:91.66667%}

.ml--0{margin-left:0%}
.ml--1{margin-left:8.33333%}
.ml--2{margin-left:16.66667%}
.ml--3{margin-left:25%}
.ml--4{margin-left:33.33333%}
.ml--5{margin-left:41.66667%}
.ml--6{margin-left:50%}
.ml--7{margin-left:58.33333%}
.ml--8{margin-left:66.66667%}
.ml--9{margin-left:75%}
.ml--10{margin-left:83.33333%}
.ml--11{margin-left:91.66667%}

.mr--0{margin-right:0%}
.mr--1{margin-right:8.33333%}
.mr--2{margin-right:16.66667%}
.mr--3{margin-right:25%}
.mr--4{margin-right:33.33333%}
.mr--5{margin-right:41.66667%}
.mr--6{margin-right:50%}
.mr--7{margin-right:58.33333%}
.mr--8{margin-right:66.66667%}
.mr--9{margin-right:75%}
.mr--10{margin-right:83.33333%}
.mr--11{margin-right:91.66667%}
}


/*>>= = = = = = = = = = = = = = = = = = = = <<

Grids for galleries - responsive utilities 
(example <ul class="grid ul li--4"><li>)
        Lucy-code
= = = = = = = = = = = = = = = = = = = = = = */
/*.grid:before,.grid:after{content:" ";display:table}
.grid:after {clear: both}*/

.ul{display:block;padding: 5px 0;margin:0 -5px;
background:red;
  overflow: hidden;
  border: 1px solid #000;
}

@media(max-width:639px){
  .ul>li{
    width:100%;
    text-align:center;
    clear:right;
  }
}
.ul>li{
display:block;
height:auto;
float:left;
padding:5px;
list-style:none;
transition:width .5s linear;
transition-delay:.2s;
}

.li1>li{width:100%;clear:right}
.li2>li{width:50%}
.li2>li:nth-of-type(2n){clear:right}
.li3>li{width:33.33333%}
.li3>li:nth-of-type(3n){clear:right}
.li4>li{width:25%}
.li4>li:nth-of-type(4n){clear:right}
.li5>li{width:20%}
.li5>li:nth-of-type(5n){clear:right}
.li6>li{width:16.66667%}
.li6>li:nth-of-type(6n){clear:right}
.li7>li{width:14.28571%}
.li7>li:nth-of-type(7n){clear:right}
.li8>li{width:12.5%}
.li8>li:nth-of-type(8n){clear:right}
.li9>li{width:11.11111%}
.li9>li:nth-of-type(9n){clear:right}
.li10>li{width:10%}
.li10>li:nth-of-type(10n){clear:right}
.li11>li{width:9.09091%}
.li11>li:nth-of-type(11n){clear:right}
.li12>li{width:8.33333%}
.li12>li:nth-of-type(12n){clear:right}

.wrap {
  width:100%;
  max-width:1200px;
  padding-left: 10px;
  padding-right: 10px;
  display:block;
  margin:auto;
  background: green;

}
@media(min-width:640px){
.ul{padding:10px 0; margin:0 -10px;}
.ul>li{padding:10px;}
  
.li-1>li{width:100%;clear:right}
.li-2>li{width:50%}
.li-2>li:nth-of-type(2n){clear:right}
.li-3>li{width:33.33333%}
.li-3>li:nth-of-type(3n){clear:right}
.li-4>li{width:25%}
.li-4>li:nth-of-type(4n){clear:right}
.li-5>li{width:20%}
.li-5>li:nth-of-type(5n){clear:right}
.li-6>li{width:16.66667%}
.li-6>li:nth-of-type(6n){clear:right}
.li-7>li{width:14.28571%}
.li-7>li:nth-of-type(7n){clear:right}
.li-8>li{width:12.5%}
.li-8>li:nth-of-type(8n){clear:right}
.li-9>li{width:11.11111%}
.li-9>li:nth-of-type(9n){clear:right}
.li-10>li{width:10%}
.li-10>li:nth-of-type(10n){clear:right}
.li-11>li{width:9.09091%}
.li-11>li:nth-of-type(11n){clear:right}
.li-12>li{width:8.33333%}
.li-12>li:nth-of-type(12n){clear:right}
  
  .wrap {
  width:100%;
  max-width:1200px;
  padding-left: 20px;
  padding-right: 20px;
  display:block;
  margin:auto;
  background: green;
}
}
@media(min-width:1024px){
.ul{padding:15px 0; margin:0 -15px;}
.ul>li{padding:15px;}

.li--1>li{width:100%;clear:right}
.li--2>li{width:50%}
.li--2>li:nth-of-type(2n){clear:right}
.li--3>li{width:33.33333%}
.li--3>li:nth-of-type(3n){clear:right}
.li--4>li{width:25%}
.li--4>li:nth-of-type(4n){clear:right}
.li--5>li{width:20%}
.li--5>li:nth-of-type(5n){clear:right}
.li--6>li{width:16.66667%}
.li--6>li:nth-of-type(6n){clear:right}
.li--7>li{width:14.28571%}
.li--7>li:nth-of-type(7n){clear:right}
.li--8>li{width:12.5%}
.li--8>li:nth-of-type(8n){clear:right}
.li--9>li{width:11.11111%}
.li--9>li:nth-of-type(9n){clear:right}
.li--10>li{width:10%}
.li--10>li:nth-of-type(10n){clear:right}
.li--11>li{width:9.09091%}
.li--11>li:nth-of-type(11n){clear:right}
.li--12>li{width:8.33333%}
.li--12>li:nth-of-type(12n){clear:right}
  
  .wrap {
  width:100%;
  max-width:1200px;
  padding-left: 30px;
  padding-right: 30px;
  display:block;
  margin:auto;
  background: green;
}
}


/*>>= = = = = = = = = = = = = = = = = = = = <<

--display-none - responsive utilities
        Lucy-code
= = = = = = = = = = = = = = = = = = = = = = */

.dn{display:none!important}
@media(max-width:1023px){
.d-n{display:none!important}
}
@media(min-width:1024px){
.d--n{display:none!important}
}

/*>>= = = = = = = = = = = = = = = = = = = = <<

--margin --padding - responsive utilities
        Lucy-code
= = = = = = = = = = = = = = = = = = = = = = */

.m0{margin:0!important}
.ma{margin:auto!important}
.m0a{margin:0 auto!important}

.mt0{margin-top:0!important}
.mt5px{margin-top:5px!important}
.mt10px{margin-top:10px!important}
.mt15px{margin-top:15px!important}
.mt20px{margin-top:20px!important}
.mt25px{margin-top:25px!important}
.mt30px{margin-top:30px!important}

.mb0{margin-bottom:0!important}
.mb5px{margin-bottom:5px!important}
.mb10px{margin-bottom:10px!important}
.mb15px{margin-bottom:15px!important}
.mb20px{margin-bottom:20px!important}
.mb25px{margin-bottom:25px!important}
.mb30px{margin-bottom:30px!important}

.ml0{margin-left:0!important}
.ml5px{margin-left:5px!important}
.ml10px{margin-left:10px!important}
.ml15px{margin-left:15px!important}
.ml20px{margin-left:20px!important}
.ml25px{margin-left:25px!important}
.ml30px{margin-left:30px!important}

.mr0{margin-right:0!important}
.mr5px{margin-right:5px!important}
.mr10px{margin-right:10px!important}
.mr15px{margin-right:15px!important}
.mr20px{margin-right:20px!important}
.mr25px{margin-right:25px!important}
.mr30px{margin-right:30px!important}

.p0{padding:0!important}

.pt0{padding-top:0!important}
.pt5px{padding-top:5px!important}
.pt10px{padding-top:10px!important}
.pt15px{padding-top:15px!important}
.pt20px{padding-top:20px!important}
.pt25px{padding-top:25px!important}
.pt30px{padding-top:30px!important}

.pb0{padding-bottom:0!important}
.pb5px{padding-bottom:5px!important}
.pb10px{padding-bottom:10px!important}
.pb15px{padding-bottom:15px!important}
.pb20px{padding-bottom:20px!important}
.pb25px{padding-bottom:25px!important}
.pb30px{padding-bottom:30px!important}

.pl0{padding-left:0!important}
.pl5px{padding-left:5px!important}
.pl10px{padding-left:10px!important}
.pl15px{padding-left:15px!important}
.pl20px{padding-left:20px!important}
.pl25px{padding-left:25px!important}
.pl30px{padding-left:30px!important}

.pr0{padding-right:0!important}
.pr5px{padding-right:5px!important}
.pr10px{padding-right:10px!important}
.pr15px{padding-right:15px!important}
.pr20px{padding-right:20px!important}
.pr25px{padding-right:25px!important}
.pr30px{padding-right:30px!important}

@media(min-width:640px){
.m-0{margin:0!important}
.m-a{margin:auto!important}
.m-0a{margin:0 auto!important}

.mt-0{margin-top:0!important}
.mt-5px{margin-top:5px!important}
.mt-10px{margin-top:10px!important}
.mt-15px{margin-top:15px!important}
.mt-20px{margin-top:20px!important}
.mt-25px{margin-top:25px!important}
.mt-30px{margin-top:30px!important}

.mb-0{margin-bottom:0!important}
.mb-5px{margin-bottom:5px!important}
.mb-10px{margin-bottom:10px!important}
.mb-15px{margin-bottom:15px!important}
.mb-20px{margin-bottom:20px!important}
.mb-25px{margin-bottom:25px!important}
.mb-30px{margin-bottom:30px!important}

.ml-0{margin-left:0!important}
.ml-5px{margin-left:5px!important}
.ml-10px{margin-left:10px!important}
.ml-15px{margin-left:15px!important}
.ml-20px{margin-left:20px!important}
.ml-25px{margin-left:25px!important}
.ml-30px{margin-left:30px!important}

.mr-0{margin-right:0!important}
.mr-5px{margin-right:5px!important}
.mr-10px{margin-right:10px!important}
.mr-15px{margin-right:15px!important}
.mr-20px{margin-right:20px!important}
.mr-25px{margin-right:25px!important}
.mr-30px{margin-right:30px!important}

.p-0{padding:0!important}

.pt-0{padding-top:0!important}
.pt-5px{padding-top:5px!important}
.pt-10px{padding-top:10px!important}
.pt-15px{padding-top:15px!important}
.pt-20px{padding-top:20px!important}
.pt-25px{padding-top:25px!important}
.pt-30px{padding-top:30px!important}

.pb-0{padding-bottom:0!important}
.pb-5px{padding-bottom:5px!important}
.pb-10px{padding-bottom:10px!important}
.pb-15px{padding-bottom:15px!important}
.pb-20px{padding-bottom:20px!important}
.pb-25px{padding-bottom:25px!important}
.pb-30px{padding-bottom:30px!important}

.pl-0{padding-left:0!important}
.pl-5px{padding-left:5px!important}
.pl-10px{padding-left:10px!important}
.pl-15px{padding-left:15px!important}
.pl-20px{padding-left:20px!important}
.pl-25px{padding-left:25px!important}
.pl-30px{padding-left:30px!important}

.pr-0{padding-right:0!important}
.pr-5px{padding-right:5px!important}
.pr-10px{padding-right:10px!important}
.pr-15px{padding-right:15px!important}
.pr-20px{padding-right:20px!important}
.pr-25px{padding-right:25px!important}
.pr-30px{padding-right:30px!important}
}
@media(min-width:1024px){
.m--0{margin:0!important}
.m--a{margin:auto!important}
.m--0a{margin:0 auto!important}

.mt--0{margin-top:0!important}
.mt--5px{margin-top:5px!important}
.mt--10px{margin-top:10px!important}
.mt--15px{margin-top:15px!important}
.mt--20px{margin-top:20px!important}
.mt--25px{margin-top:25px!important}
.mt--30px{margin-top:30px!important}

.mb--0{margin-bottom:0!important}
.mb--5px{margin-bottom:5px!important}
.mb--10px{margin-bottom:10px!important}
.mb--15px{margin-bottom:15px!important}
.mb--20px{margin-bottom:20px!important}
.mb--25px{margin-bottom:25px!important}
.mb--30px{margin-bottom:30px!important}

.ml--0{margin-left:0!important}
.ml--5px{margin-left:5px!important}
.ml--10px{margin-left:10px!important}
.ml--15px{margin-left:15px!important}
.ml--20px{margin-left:20px!important}
.ml--25px{margin-left:25px!important}
.ml--30px{margin-left:30px!important}

.mr--0{margin-right:0!important}
.mr--5px{margin-right:5px!important}
.mr--10px{margin-right:10px!important}
.mr--15px{margin-right:15px!important}
.mr--20px{margin-right:20px!important}
.mr--25px{margin-right:25px!important}
.mr--30px{margin-right:30px!important}

.p--0{padding:0!important}

.pt--0{padding-top:0!important}
.pt--5px{padding-top:5px!important}
.pt--10px{padding-top:10px!important}
.pt--15px{padding-top:15px!important}
.pt--20px{padding-top:20px!important}
.pt--25px{padding-top:25px!important}
.pt--30px{padding-top:30px!important}

.pb--0{padding-bottom:0!important}
.pb--5px{padding-bottom:5px!important}
.pb--10px{padding-bottom:10px!important}
.pb--15px{padding-bottom:15px!important}
.pb--20px{padding-bottom:20px!important}
.pb--25px{padding-bottom:25px!important}
.pb--30px{padding-bottom:30px!important}

.pl--0{padding-left:0!important}
.pl--5px{padding-left:5px!important}
.pl--10px{padding-left:10px!important}
.pl--15px{padding-left:15px!important}
.pl--20px{padding-left:20px!important}
.pl--25px{padding-left:25px!important}
.pl--30px{padding-left:30px!important}

.pr--0{padding-right:0!important}
.pr--5px{padding-right:5px!important}
.pr--10px{padding-right:10px!important}
.pr--15px{padding-right:15px!important}
.pr--20px{padding-right:20px!important}
.pr--25px{padding-right:25px!important}
.pr--30px{padding-right:30px!important}
}

/*>>= = = = = = = = = = = = = = = = = = = = <<

--text - responsive utilities
        Lucy-code
= = = = = = = = = = = = = = = = = = = = = = */

.tal{text-align:left!important}
.tar{text-align:right!important}
.tac{text-align:center!important}
.taj{text-align:justify!important}
.ttu{text-transform:uppercase}
.fw100{font-weight:100!important}
.fw400{font-weight:400!important}
.fw700{font-weight:700!important}
.fsi{font-style:italic!important}
.fsn{font-style:normal!important}

@media(min-width:640px){
.ta-l{text-align:left!important}
.ta-r{text-align:right!important}
.ta-c{text-align:center!important}
.ta-j{text-align:justify!important}
.tt-u{text-transform:uppercase}
.fw-100{font-weight:100!important}
.fw-400{font-weight:400!important}
.fw-700{font-weight:700!important}
.fs-i{font-style:italic!important}
.fs-n{font-style:normal!important}
}
@media(min-width:1024px){
.ta--l{text-align:left!important}
.ta--r{text-align:right!important}
.ta--c{text-align:center!important}
.ta--j{text-align:justify!important}
.tt--u{text-transform:uppercase}
.fw--100{font-weight:100!important}
.fw--400{font-weight:400!important}
.fw--700{font-weight:700!important}
.fs--i{font-style:italic!important}
.fs--n{font-style:normal!important}
}

/*>>= = = = = = = = = = = = = = = = = = = = <<

--other responsive utilities
        Lucy-code
= = = = = = = = = = = = = = = = = = = = = = */

.db{display:block!important}
.dt{display:table!important}
.di{display:inline!important}
.fn{float:none!important}
.fl{float:left!important}
.fr{float:right!important}
.pr{position:relative!important}
.cb:before,.cb:after{content:" ";display:table}
.cb:after{clear:both}

@media(min-width:640px){
.d-b{display:block!important}
.d-t{display:table!important}
.d-i{display:inline!important}
.f-n{float:none!important}
.f-l{float:left!important}
.f-r{float:right!important}
.p-r{position:relative!important}
.c-b:before,.c-b:after{content:"";display:table}
.c-b:after{clear:both}
}

@media(min-width:1024px){
.d--b{display:block!important}
.d--t{display:table!important}
.d--i{display:inline!important}
.f--n{float:none!important}
.f--l{float:left!important}
.f--r{float:right!important}
.p--r{position:relative!important}
.c--b:before,.c--b:after{content:" ";display:table}
.c--b:after{clear:both}
}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||end Lucy Flash Drive |||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/