/*GRIDS*/
*,*:after,*:before{box-sizing:border-box}
:root{
/*gutter*/
--s: 10px;
--m: 20px;
--l: 30px;
/*width of cell h - half of one elven unit*/
--0h: 4.1667%;
--1:  8.3333%;
--1h: 12.5%;
--2:  16.6667%;
--2h: 20.8333%;
--3:  25%;
--3h: 29.1667%;
--4:  33.3333%;
--4h: 37.5%;
--5:  41.6667%;
--5h: 45.8333%;
--6:  50%;
--6h: 54.1667%;
--7:  58.3333%;
--7h: 62.5%;
--8:  66.6667%;
--8h: 70.8333%;
--9:  75%;
--9h: 79.1667%;
--10: 83.3333%;
--10h:87.5%;
--11: 91.6667%;
--11h:95.8333%;
--12: 100%;
/*number cells of list*/
--n5: 20%;
--n7: 14.2857%;
--n9: 11.1111%;
--n10:10%;
--n11:9.0909%;
}

/*
flexbox (.df,.grid - flexbox containers; .f,.cell - flexbox inner cells)
*/
.df,.grid{display:flex;flex:1 1 auto;flex-flow: row wrap;box-sizing: border-box;}
.fx,.cell{flex:0 0 auto;box-sizing: border-box;}
/*
Widths - responsive/fixed flex-grid utilities, exmpl:
<wrap>
    <non-grid-content h1,p,etc>
    <grid>
        <cell w6>content (and inner grids)
*/
.wrap{margin-left:auto;margin-right:auto;overflow:hidden}

ul.grid{padding-left:0}
.grid>li{list-style:none}

@media(max-width: 639px){
.wrap{padding-left:var(--s);padding-right:var(--s)}
.grid{margin: calc(var(--s)/-2)}
.cell,.grid>li{margin: calc(var(--s)/2)}

ul.grid.-liauto>li,
ul.grid.-li-auto->li,
ul.grid.liauto>li{flex-grow:1;flex-basis:0;width:calc(var(--12) - var(--s))}

/*
widths for list-cells, exmpl:<ul class="grid li4"><li>
*/
.-w0h,.-w-0h,.w0h{width:calc(var(--0h) - var(--s))}
.-w1,.-w-1,.w1,.-li12>li,.-li-12>li,.li12>li{width:calc(var(--1) - var(--s))}
.-w1h,.-w-1h,.w1h,.-li8>li,.-li-8>li,.li8>li{width:calc(var(--1h) - var(--s))}
.-w2,.-w-2,.w2,.-li6>li,.-li-6>li,.li6>li{width:calc(var(--2) - var(--s))}
.-w2h,.-w-2h,.w2h{width:calc(var(--2h) - var(--s))}
.-w3,.-w-3,.w3,.-li4>li,.-li-4>li,.li4>li{width:calc(var(--3) - var(--s))}
.-w3h,.-w-3h,.w3h{width:calc(var(--3h) - var(--s))}
.-w4,.-w-4,.w4,.-li3>li,.-li-3>li,.li3>li{width:calc(var(--4) - var(--s))}
.-w4h,.-w-4h,.w4h{width:calc(var(--4h) - var(--s))}
.-w5,.-w-5,.w5{width:calc(var(--5) - var(--s))}
.-w5h,.-w-5h,.w5h{width:calc(var(--5h) - var(--s))}
.-w6,.-w-6,.w6,.-li2>li,.-li-2>li,.li2>li{width:calc(var(--6) - var(--s))}
.-w6h,.-w-6h,.w6h{width:calc(var(--6h) - var(--s))}
.-w7,.-w-7,.w7{width:calc(var(--7) - var(--s))}
.-w7h,.-w-7h,.w7h{width:calc(var(--7h) - var(--s))}
.-w8,.-w-8,.w8{width:calc(var(--8) - var(--s))}
.-w8h,.-w-8h,.w8h{width:calc(var(--8h) - var(--s))}
.-w9,.-w-9,.w9{width:calc(var(--9) - var(--s))}
.-w9h,.-w-9h,.w9h{width:calc(var(--9h) - var(--s))}
.-w10,.-w-10,.w10{width:calc(var(--10) - var(--s))}
.-w10h,.-w-10h,.w10h{width:calc(var(--10h) - var(--s))}
.-w11,.-w-11,.w11{width:calc(var(--11) - var(--s))}
.-w11h,.-w-11h,.w11h{width:calc(var(--11h) - var(--s))}
.-w12,.-w-12,.w12,.-li1>li,.-li-1>li,.li1>li{width:calc(var(--12) - var(--s))}

.-li5>li,.-li-5>li,.li5>li{width:calc(var(--n5) - var(--s))}
.-li7>li,.-li-7>li,.li7>li{width:calc(var(--n7) - var(--s))}
.-li9>li,.-li-9>li,.li9>li{width:calc(var(--n9) - var(--s))}
.-li10>li,.-li-10>li,.li10>li{width:calc(var(--n10) - var(--s))}
.-li11>li,.-li-11>li,.li11>li{width:calc(var(--n11) - var(--s))}
/*
offsets of cells (<div class="cell w1 ml1">)
*/
.-ml0h,.-ml-0h,.ml0h{margin-left:calc(var(--0h) + var(--s))}
.-ml1,.-ml-1,.ml1{margin-left:calc(var(--1) + var(--s))}
.-ml1h,.-ml-1h,.ml1h{margin-left:calc(var(--1h) + var(--s))}
.-ml2,.-ml-2,.ml2{margin-left:calc(var(--2) + var(--s))}
.-ml2h,.-ml-2h,.ml2h{margin-left:calc(var(--2h) + var(--s))}
.-ml3,.-ml-3,.ml3{margin-left:calc(var(--3) + var(--s))}
.-ml3h,.-ml-3h,.ml3h{margin-left:calc(var(--3h) + var(--s))}
.-ml4,.-ml-4,.ml4{margin-left:calc(var(--4) + var(--s))}
.-ml4h,.-ml-4h,.ml4h{margin-left:calc(var(--4h) + var(--s))}
.-ml5,.-ml-5,.ml5{margin-left:calc(var(--5) + var(--s))}
.-ml5h,.-ml-5h,.ml5h{margin-left:calc(var(--5h) + var(--s))}
.-ml6,.-ml-6,.ml6{margin-left:calc(var(--6) + var(--s))}
.-ml6h,.-ml-6h,.ml6h{margin-left:calc(var(--6h) + var(--s))}
.-ml7,.-ml-7,.ml7{margin-left:calc(var(--7) + var(--s))}
.-ml7h,.-ml-7h,.ml7h{margin-left:calc(var(--7h) + var(--s))}
.-ml8,.-ml-8,.ml8{margin-left:calc(var(--8) + var(--s))}
.-ml8h,.-ml-8h,.ml8h{margin-left:calc(var(--8h) + var(--s))}
.-ml9,.-ml-9,.ml9{margin-left:calc(var(--9) + var(--s))}
.-ml9h,.-ml-9h,.ml9h{margin-left:calc(var(--9h) + var(--s))}
.-ml10,.-ml-10,.ml10{margin-left:calc(var(--10) + var(--s))}
.-ml10h,.-ml-10h,.ml10h{margin-left:calc(var(--10h) + var(--s))}
.-ml11,.-ml-11,.ml11{margin-left:calc(var(--11) + var(--s))}
.-ml11h,.-ml-11h,.ml11h{margin-left:calc(var(--11h) + var(--s))}

/*
flex orders;
*/
.-ord0,.-ord-0,.ord0{order:-1}
.-ord99,.-ord-99,.ord99{order:99}
/*
flex alignment along the x/y axis:start(0%), center(50%), end(100%)
*/
.-x0,.-x-0,.x0{justify-content:flex-start}
.-x50,.-x-50,.x50{justify-content:center}
.-x100,.-x-100,.x100{justify-content:flex-end}

.-y0,.-y-0,.y0{align-items:flex-start}
.-y50,.-y-50,.y50{align-items:center}
.-y100,.-y-100,.y100{align-items:flex-end}
}

@media (min-width: 640px) and (max-width: 1023px) {
.wrap{padding-left:var(--m);padding-right:var(--m)}
.grid{margin: calc(var(--m)/-2)}
.cell,.grid>li{margin: calc(var(--m)/2)}

ul.grid.li-auto->li,
ul.grid.-li-auto>li,
ul.grid.li-auto->li,
ul.grid.liauto>li{flex-grow:1;flex-basis:0;width:calc(var(--12) - var(--m))}

.w-0h,.-w-0h,.w-0h-,.w0h{width:calc(var(--0h) - var(--m))}
.w-1,.-w-1,.w-1-,.w1,.li-12>li,.-li-12>li,.li-12->li,.li12>li{width:calc(var(--1) - var(--m))}
.w-1h,.-w-1h,.w-1h-,.w1h,.li-8>li,.-li-8>li,.li-8->li,.li8>li{width:calc(var(--1h) - var(--m))}
.w-2,.-w-2,.w-2-,.w2,.li-6>li,.-li-6>li,.li-6->li,.li6>li{width:calc(var(--2) - var(--m))}
.w-2h,.-w-2h,.w-2h-,.w2h{width:calc(var(--2h) - var(--m))}
.w-3,.-w-3,.w-3-,.w3,.li-4>li,.-li-4>li,.li-4->li,.li4>li{width:calc(var(--3) - var(--m))}
.w-3h,.-w-3h,.w-3h-,.w3h{width:calc(var(--3h) - var(--m))}
.w-4,.-w-4,.w-4-,.w4,.li-3>li,.-li-3>li,.li-3->li,.li3>li{width:calc(var(--4) - var(--m))}
.w-4h,.-w-4h,.w-4h-,.w4h{width:calc(var(--4h) - var(--m))}
.w-5,.-w-5,.w-5-,.w5{width:calc(var(--5) - var(--m))}
.w-5h,.-w-5h,.w-5h-,.w5h{width:calc(var(--5h) - var(--m))}
.w-6,.-w-6,.w-6-,.w6,.li-2>li,.-li-2>li,.li-2->li,.li2>li{width:calc(var(--6) - var(--m))}
.w-6h,.-w-6h,.w-6h-,.w6h{width:calc(var(--6h) - var(--m))}
.w-7,.-w-7,.w-7-,.w7{width:calc(var(--7) - var(--m))}
.w-7h,.-w-7h,.w-7h-,.w7h{width:calc(var(--7h) - var(--m))}
.w-8,.-w-8,.w-8-,.w8{width:calc(var(--8) - var(--m))}
.w-8h,.-w-8h,.w-8h-,.w8{width:calc(var(--8h) - var(--m))}
.w-9,.-w-9,.w-9-,.w9{width:calc(var(--9) - var(--m))}
.w-9h,.-w-9h,.w-9h-,.w9h{width:calc(var(--9h) - var(--m))}
.w-10,.-w-10,.w-10-,.w10{width:calc(var(--10) - var(--m))}
.w-10h,.-w-10h,.w-10h-,.w10h{width:calc(var(--10h) - var(--m))}
.w-11,.-w-11,.w-11-,.w11{width:calc(var(--11) - var(--m))}
.w-11h,.-w-11h,.w-11h-,.w11h{width:calc(var(--11h) - var(--m))}
.w-12,.-w-12,.w-12-,.w12,.li-1>li,.-li-1>li,.li-1->li,.li1>li{width:calc(var(--12) - var(--m))}

.li-5>li,.-li-5>li,.li-5->li,.li5>li{width:calc(var(--n5) - var(--m))}
.li-7>li,.-li-7>li,.li-7->li,.li7>li{width:calc(var(--n7) - var(--m))}
.li-9>li,.-li-9>li,.li-9->li,.li9>li{width:calc(var(--n9) - var(--m))}
.li-10>li,.-li-10>li,.li-10->li,.li10>li{width:calc(var(--n10) - var(--m))}
.li-11>li,.-li-11>li,.li-11->li,.li11>li{width:calc(var(--n11) - var(--m))}

.ml-0h,.-ml-0h,.ml-0h-,.ml0h{margin-left:calc(var(--0h) + var(--m))}
.ml-1,.-ml-1,.ml-1-,.ml1{margin-left:calc(var(--1) + var(--m))}
.ml-1h,.-ml-1h,.ml-1h-,.ml1h{margin-left:calc(var(--1h) + var(--m))}
.ml-2,.-ml-2,.ml-2-,.ml2{margin-left:calc(var(--2) + var(--m))}
.ml-2h,.-ml-2h,.ml-2h-,.ml2h{margin-left:calc(var(--2h) + var(--m))}
.ml-3,.-ml-3,.ml-3-,.ml3{margin-left:calc(var(--3) + var(--m))}
.ml-3h,.-ml-3h,.ml-3h-,.ml3h{margin-left:calc(var(--3h) + var(--m))}
.ml-4,.-ml-4,.ml-4-,.ml4{margin-left:calc(var(--4) + var(--m))}
.ml-4h,.-ml-4h,.ml-4h-,.ml4h{margin-left:calc(var(--4h) + var(--m))}
.ml-5,.-ml-5,.ml-5-,.ml5{margin-left:calc(var(--5) + var(--m))}
.ml-5h,.-ml-5h,.ml-5h-,.ml5h{margin-left:calc(var(--5h) + var(--m))}
.ml-6,.-ml-6,.ml-6-,.ml6{margin-left:calc(var(--6) + var(--m))}
.ml-6h,.-ml-6h,.ml-6h-,.ml6h{margin-left:calc(var(--6h) + var(--m))}
.ml-7,.-ml-7,.ml-7-,.ml7{margin-left:calc(var(--7) + var(--m))}
.ml-7h,.-ml-7h,.ml-7h-,.ml7h{margin-left:calc(var(--7h) + var(--m))}
.ml-8,.-ml-8,.ml-8-,.ml8{margin-left:calc(var(--8) + var(--m))}
.ml-8h,.-ml-8h,.ml-8h-,.ml8h{margin-left:calc(var(--8h) + var(--m))}
.ml-9,.-ml-9,.ml-9-,.ml9{margin-left:calc(var(--9) + var(--m))}
.ml-9h,.-ml-9h,.ml-9h-,.ml9h{margin-left:calc(var(--9h) + var(--m))}
.ml-10,.-ml-10,.ml-10-,.ml10{margin-left:calc(var(--10) + var(--m))}
.ml-10h,.-ml-10h,.ml-10h-,.ml10h{margin-left:calc(var(--10h) + var(--m))}
.ml-11,.-ml-11,.ml-11-,.ml11{margin-left:calc(var(--11) + var(--m))}
.ml-11h,.-ml-11h,.ml-11h-,.ml11h{margin-left:calc(var(--11h) + var(--m))}

.ord-0,.-ord-0,.ord-0-,.ord0{order:-1}
.ord-99,.-ord-99,.ord-99-,.ord99{order:99}

.x-0,.-x-0,.x-0-,.x0{justify-content:flex-start}
.x-50,.-x-50,.x-50-,.x50{justify-content:center}
.x-100,.-x-100-,.x-100-,.x100{justify-content:flex-end}

.y-0,.-y-0,.y-0-,.y0{align-items:flex-start}
.y-50,.-y-50,.y-50-,.y50{align-items:center}
.y-100,.-y-100,.y-100-,.y100{align-items:flex-end}
}

@media(min-width:1024px){
.wrap{padding-left:var(--l);padding-right:var(--l)}
.grid{margin: calc(var(--l)/-2)}
.cell,.grid>li{margin:calc(var(--l)/2)}

ul.grid.liauto->li,
ul.grid.li-auto->li,
ul.grid.liauto>li{flex-grow:1;flex-basis:0;width:calc(var(--12) - var(--l))}

.w0h-,.w-0h-,.w0h{width:calc(var(--0h) - var(--l))}
.w1-,.w-1-,.w1,.li12->li,.li-12->li,.li12>li{width:calc(var(--1) - var(--l))}
.w1h-,.w-1h-,.w1h,.li8->li,.li-8->li,.li8>li{width:calc(var(--1h) - var(--l))}
.w2-,.w-2-,.w2,.li6->li,.li-6->li,.li6>li{width:calc(var(--2) - var(--l))}
.w2h-,.w-2h-,.w2h{width:calc(var(--2h) - var(--l))}
.w3-,.w-3-,.w3,.li4->li,.li-4->li,.li4>li{width: calc(var(--3) - var(--l))}
.w3h-,.w-3h-,.w3h{width:calc(var(--3h) - var(--l))}
.w4-,.w-4-,.w4,.li3->li,.li-3->li,.li3>li{width:calc(var(--4) - var(--l))}
.w4h-,.w-4h-,.w4h{width:calc(var(--4h) - var(--l))}
.w5-,.w-5-,.w5{width:calc(var(--5) - var(--l))}
.w5h-,.w-5h-,.w5h{width:calc(var(--5h) - var(--l))}
.w6-,.w-6-,.w6,.li2->li,.li-2->li,.li2>li{width:calc(var(--6) - var(--l))}
.w6h-,.w-6h-,.w6h{width:calc(var(--6h) - var(--l))}
.w7-,.w-7-,.w7{width:calc(var(--7) - var(--l))}
.w7h-,.w-7h-,.w7h{width:calc(var(--7h) - var(--l))}
.w8-,.w-8-,.w8{width:calc(var(--8) - var(--l))}
.w8h-,.w-8h-,.w8h{width:calc(var(--8h) - var(--l))}
.w9-,.w-9-,.w9{width:calc(var(--9) - var(--l))}
.w9h-,.w-9h-,.w9h{width:calc(var(--9h) - var(--l))}
.w10-,.w-10-,.w10{width:calc(var(--10) - var(--l))}
.w10h-,.w-10h-,.w10h{width:calc(var(--10h) - var(--l))}
.w11-,.w-11-,.w11{width:calc(var(--11) - var(--l))}
.w11h-,.w-11h-,.w11h{width:calc(var(--11h) - var(--l))}
.w12-,.w-12-,.w12,.li1->li,.li-1->li,.li1>li{width:calc(var(--12) - var(--l))}

.li5->li,.li-5->li,.li5>li{width:calc(var(--n5) - var(--l))}
.li7->li,.li-7->li,.li7>li{width:calc(var(--n7) - var(--l))}
.li9->li,.li-9->li,.li9>li{width:calc(var(--n9) - var(--l))}
.li10->li,.li-10->li,.li10>li{width:calc(var(--n10) - var(--l))}
.li11->li,.li-11->li,.li11>li{width:calc(var(--n11) - var(--l))}

.ml0h-,.ml-0h-,.ml0h{margin-left:calc(var(--0h) + var(--l))}
.ml1-,.ml-1-,.ml1{margin-left:calc(var(--1) + var(--l))}
.ml1h-,.ml-1h-,.ml1h{margin-left:calc(var(--1h) + var(--l))}
.ml2-,.ml-2-,.ml2{margin-left:calc(var(--2) + var(--l))}
.ml2h-,.ml-2h-,.ml2h{margin-left:calc(var(--2h) + var(--l))}
.ml3-,.ml-3-,.ml3{margin-left:calc(var(--3) + var(--l))}
.mlh3-,.ml-3h-,.mlh3{margin-left:calc(var(--3h) + var(--l))}
.ml4-,.ml-4-,.ml4{margin-left:calc(var(--4) + var(--l))}
.ml4h-,.ml-4h-,.ml4h{margin-left:calc(var(--4h) + var(--l))}
.ml5-,.ml-5-,.ml5{margin-left:calc(var(--5) + var(--l))}
.ml5h-,.ml-5h-,.ml5h{margin-left:calc(var(--5h) + var(--l))}
.ml6-,.ml-6-,.ml6{margin-left:calc(var(--6) + var(--l))}
.ml6h-,.ml-6h-,.ml6h{margin-left:calc(var(--6h) + var(--l))}
.ml7-,.ml-7-,.ml7{margin-left:calc(var(--7) + var(--l))}
.ml7h-,.ml-7h-,.ml7h{margin-left:calc(var(--7h) + var(--l))}
.ml8-,.ml-8-,.ml8{margin-left:calc(var(--8) + var(--l))}
.ml8h-,.ml-8h-,.ml8h{margin-left:calc(var(--8h) + var(--l))}
.ml9-,.ml-9-,.ml9{margin-left:calc(var(--9) + var(--l))}
.ml9h-,.ml-9h-,.ml9h{margin-left:calc(var(--9h) + var(--l))}
.ml10-,.ml-10-,.ml10{margin-left:calc(var(--10) + var(--l))}
.ml10h-,.ml-10h-,.ml10h{margin-left:calc(var(--10h) + var(--l))}
.ml11-,.ml-11-,.ml11{margin-left:calc(var(--11) + var(--l))}
.ml11h-,.ml-11h-,.ml11h{margin-left:calc(var(--11h) + var(--l))}

.ord00-,.ord-00-,.ord0{order:-1}
.ord99-,.ord-99-,.ord99{order:99}

.x0-,.x-0-,.x0{justify-content:flex-start}
.x50-,.x-50-,.x50{justify-content:center}
.x100-,.x-100-,.x100{justify-content:flex-end}

.y0-,.y-0-,.y0{align-items:flex-start}
.y50-,.y-50-,.y50{align-items:center}
.y100-,.y-100-,.y100{align-items:flex-end}
}


/*_0*/
.grid._0,.grid._0>.cell,.grid._0>li{margin: 0}
ul.grid.liauto._0>li{width:var(--12)}

._0>.w0h{width:var(--0h)}
._0>.w1,._0.li12>li{width:var(--1)}
._0>.w1h,._0.li8>li{width:var(--1h)}
._0>.w2,._0.li6>li{width:var(--2)}
._0>.w2h{width:var(--2h)}
._0>.w3,._0.li4>li{width:var(--3)}
._0>.w3h{width:var(--3h)}
._0>.w4,._0.li3>li{width:var(--4)}
._0>.w4h{width:var(--4h)}
._0>.w5{width:var(--5)}
._0>.w5h{width:var(--5h)}
._0>.w6,._0.li2>li{width:var(--6)}
._0>.w6h{width:var(--6h)}
._0>.w7{width:var(--7)}
._0>.w7h{width:var(--7h)}
._0>.w8{width:var(--8)}
._0>.w8h{width:var(--8h)}
._0>.w9{width:var(--9)}
._0>.w9h{width:var(--9h)}
._0>.w10{width:var(--10)}
._0>.w10h{width:var(--10h)}
._0>.w11{width:var(--11)}
._0>.w11h{width:var(--11h)}
._0>.w12,._0.li1>li{width:var(--12)}
._0.li5>li{width:var(--n5)}
._0.li7>li{width:var(--n7)}
._0.li9>li{width:var(--n9)}
._0.li10>li{width:var(--n10)}
._0.li11>li{width:var(--n11)}
._0>.ml0h{margin-left:var(--0h)}
._0>.ml1{margin-left:var(--1)}
._0>.ml1h{margin-left:var(--1h)}
._0>.ml2{margin-left:var(--2)}
._0>.ml2h{margin-left:var(--2h)}
._0>.ml3{margin-left:var(--3)}
._0>.ml3h{margin-left:var(--3h)}
._0>.ml4{margin-left:var(--4)}
._0>.ml4h{margin-left:var(--4h)}
._0>.ml5{margin-left:var(--5)}
._0>.ml5h{margin-left:var(--5h)}
._0>.ml6{margin-left:var(--6)}
._0>.ml6h{margin-left:var(--6h)}
._0>.ml7{margin-left:var(--7)}
._0>.ml7h{margin-left:var(--7h)}
._0>.ml8{margin-left:var(--8)}
._0>.ml8h{margin-left:var(--8h)}
._0>.ml9{margin-left:var(--9)}
._0>.ml9h{margin-left:var(--9h)}
._0>.ml10{margin-left:var(--10)}
._0>.ml10h{margin-left:var(--10h)}
._0>.ml11{margin-left:var(--11)}
._0>.ml11h{margin-left:var(--11h)}
@media(max-width: 639px){
.grid.-_0,.grid.-_0>.cell,.grid.-_0>li{margin: 0}
ul.grid.-liauto.-_0>li{width:var(--12)}

.-_0>.-w0h{width:var(--0h)}
.-_0>.-w1,.-_0.-li12>li{width:var(--1)}
.-_0>.-w1h,.-_0.-li8>li{width:var(--1h)}
.-_0>.-w2,.-_0.-li6>li{width:var(--2)}
.-_0>.-w2h{width:var(--2h)}
.-_0>.-w3,.-li4>li{width:var(--3)}
.-_0>.-w3h{width:var(--3h)}
.-_0>.-w4,.-li3>li{width:var(--4)}
.-_0>.-w4h{width:var(--4h)}
.-_0>.-w5{width:var(--5)}
.-_0>.-w5h{width:var(--5h)}
.-_0>.-w6,.-li2>li{width:var(--6)}
.-_0>.-w6h{width:var(--6h)}
.-_0>.-w7{width:var(--7)}
.-_0>.-w7h{width:var(--7h)}
.-_0>.-w8{width:var(--8)}
.-_0>.-w8h{width:var(--8h)}
.-_0>.-w9{width:var(--9)}
.-_0>.-w9h{width:var(--9h)}
.-_0>.-w10{width:var(--10)}
.-_0>.-w10h{width:var(--10h)}
.-_0>.-w11{width:var(--11)}
.-_0>.-w11h{width:var(--11h)}
.-_0>.-w12,.-_0.-li1>li{width:var(--12)}
.-_0.-li5>li{width:var(--n5)}
.-_0.-li7>li{width:var(--n7)}
.-_0.-li9>li{width:var(--n9)}
.-_0.-li10>li{width:var(--n10)}
.-_0.-li11>li{width:var(--n11)}
.-_0>.-ml0h{margin-left:var(--0h)}
.-_0>.-ml1{margin-left:var(--1)}
.-_0>.-ml1h{margin-left:var(--1h)}
.-_0>.-ml2{margin-left:var(--2)}
.-_0>.-ml2h{margin-left:var(--2h)}
.-_0>.-ml3{margin-left:var(--3)}
.-_0>.-ml3h{margin-left:var(--3h)}
.-_0>.-ml4{margin-left:var(--4)}
.-_0>.-ml4h{margin-left:var(--4h)}
.-_0>.-ml5{margin-left:var(--5)}
.-_0>.-ml5h{margin-left:var(--5h)}
.-_0>.-ml6{margin-left:var(--6)}
.-_0>.-ml6h{margin-left:var(--6h)}
.-_0>.-ml7{margin-left:var(--7)}
.-_0>.-ml7h{margin-left:var(--7h)}
.-_0>.-ml8{margin-left:var(--8)}
.-_0>.-ml8h{margin-left:var(--8h)}
.-_0>.-ml9{margin-left:var(--9)}
.-_0>.-ml9h{margin-left:var(--9h)}
.-_0>.-ml10{margin-left:var(--10)}
.-_0>.-ml10h{margin-left:var(--10h)}
.-_0>.-ml11{margin-left:var(--11)}
.-_0>.-ml11h{margin-left:var(--11h)}
}
@media(max-width: 1023px){
.grid.-_-0,.grid.-_-0>.cell,.grid.-_-0>li{margin: 0}
ul.grid.-li-auto.-_-0>li{width:var(--12)}

.-_-0>.-w-0h{width:var(--0h)}
.-_-0>.-w-1,.-_-0.-li-12>li{width:var(--1)}
.-_-0>.-w-1h,.-_-0.-li-8>li{width:var(--1h)}
.-_-0>.-w-2,.-_-0.-li-6>li{width:var(--2)}
.-_-0>.-w-2h{width:var(--2h)}
.-_-0>.-w-3,.-_-0.-li-4>li{width:var(--3)}
.-_-0>.-w-3h{width:var(--3h)}
.-_-0>.-w-4,.-_-0.-li-3>li{width:var(--4)}
.-_-0>.-w-4h{width:var(--4h)}
.-_-0>.-w-5{width:var(--5)}
.-_-0>.-w-5h{width:var(--5h)}
.-_-0>.-w-6,.-_-0.-li-2>li{width:var(--6)}
.-_-0>.-w-6h{width:var(--6h)}
.-_-0>.-w-7{width:var(--7)}
.-_-0>.-w-7h{width:var(--7h)}
.-_-0>.-w-8{width:var(--8)}
.-_-0>.-w-8h{width:var(--8h)}
.-_-0>.-w-9{width:var(--9)}
.-_-0>.-w-9h{width:var(--9h)}
.-_-0>.-w-10{width:var(--10)}
.-_-0>.-w-10h{width:var(--10h)}
.-_-0>.-w-11{width:var(--11)}
.-_-0>.-w-11h{width:var(--11h)}
.-_-0>.-w-12,.-_-0.-li-1>li{width:var(--12)}
.-_-0.-li-5>li{width:var(--n5)}
.-_-0.-li-7>li{width:var(--n7)}
.-_-0.-li-9>li{width:var(--n9)}
.-_-0.-li-10>li{width:var(--n10)}
.-_-0.-li-11>li{width:var(--n11)}
.-_-0>.-ml-0h{margin-left:var(--0h)}
.-_-0>.-ml-1{margin-left:var(--1)}
.-_-0>.-ml-1h{margin-left:var(--1h)}
.-_-0>.-ml-2{margin-left:var(--2)}
.-_-0>.-ml-2h{margin-left:var(--2h)}
.-_-0>.-ml-3{margin-left:var(--3)}
.-_-0>.-ml-3h{margin-left:var(--3h)}
.-_-0>.-ml-4{margin-left:var(--4)}
.-_-0>.-ml-4h{margin-left:var(--4h)}
.-_-0>.-ml-5{margin-left:var(--5)}
.-_-0>.-ml-5h{margin-left:var(--5h)}
.-_-0>.-ml-6{margin-left:var(--6)}
.-_-0>.-ml-6h{margin-left:var(--6h)}
.-_-0>.-ml-7{margin-left:var(--7)}
.-_-0>.-ml-7h{margin-left:var(--7h)}
.-_-0>.-ml-8{margin-left:var(--8)}
.-_-0>.-ml-8h{margin-left:var(--8h)}
.-_-0>.-ml-9{margin-left:var(--9)}
.-_-0>.-ml-9h{margin-left:var(--9h)}
.-_-0>.-ml-10{margin-left:var(--10)}
.-_-0>.-ml-10h{margin-left:var(--10h)}
.-_-0>.-ml-11{margin-left:var(--11)}
.-_-0>.-ml-11h{margin-left:var(--11h)}
}
@media(min-width:640px){
.grid._-0-,.grid._-0->.cell,.grid._-0->li{margin: 0}
ul.grid.li-auto-._-0->li{width:var(--12)}

._-0->.w-0h-{width:var(--0h)}
._-0->.w-1-,._-0-.li-12->li{width:var(--1)}
._-0->.w-1h-,._-0-.li-8->li{width:var(--1h)}
._-0->.w-2-,._-0-.li-6->li{width:var(--2)}
._-0->.w-2h-{width:var(--2h)}
._-0->.w-3-,._-0-.li-4->li{width:var(--3)}
._-0->.w-3h-{width:var(--3h)}
._-0->.w-4-,._-0-.li-3->li{width:var(--4)}
._-0->.w-4h-{width:var(--4h)}
._-0->.w-5-{width:var(--5)}
._-0->.w-5h-{width:var(--5h)}
._-0->.w-6-{width:var(--6)}
._-0->.w-6h-,._-0-.li-2->li{width:var(--6h)}
._-0->.w-7-{width:var(--7)}
._-0->.w-7h-{width:var(--7h)}
._-0->.w-8-{width:var(--8)}
._-0->.w-8h-{width:var(--8h)}
._-0->.w-9-{width:var(--9)}
._-0->.w-9h-{width:var(--9h)}
._-0->.w-10-{width:var(--10)}
._-0->.w-10h-{width:var(--10h)}
._-0->.w-11-{width:var(--11)}
._-0->.w-11h-{width:var(--11h)}
._-0->.w-12-,._-0-.li-1->li{width:var(--12)}
._-0-.li-5->li{width:var(--n5)}
._-0-.li-7->li{width:var(--n7)}
._-0-.li-9->li{width:var(--n9)}
._-0-.li-10->li{width:var(--n10)}
._-0-.li-11->li{width:var(--n11)}
._-0->.ml-0h-{margin-left:var(--0h)}
._-0->.ml-1-{margin-left:var(--1)}
._-0->.ml-1h-{margin-left:var(--1h)}
._-0->.ml-2-{margin-left:var(--2)}
._-0->.ml-2h-{margin-left:var(--2h)}
._-0->.ml-3-{margin-left:var(--3)}
._-0->.ml-3h-{margin-left:var(--3h)}
._-0->.ml-4-{margin-left:var(--4)}
._-0->.ml-4h-{margin-left:var(--4h)}
._-0->.ml-5-{margin-left:var(--5)}
._-0->.ml-5h-{margin-left:var(--5h)}
._-0->.ml-6-{margin-left:var(--6)}
._-0->.ml-6h-{margin-left:var(--6h)}
._-0->.ml-7-{margin-left:var(--7)}
._-0->.ml-7h-{margin-left:var(--7h)}
._-0->.ml-8-{margin-left:var(--8)}
._-0->.ml-8h-{margin-left:var(--8h)}
._-0->.ml-9-{margin-left:var(--9)}
._-0->.ml-9h-{margin-left:var(--9h)}
._-0->.ml-10-{margin-left:var(--10)}
._-0->.ml-10h-{margin-left:var(--10h)}
._-0->.ml-11-{margin-left:var(--11)}
._-0->.ml-11h-{margin-left:var(--11h)}
}
@media(min-width: 640px) and (max-width: 1023px){
.grid._-0,.grid._-0>.cell,.grid._-0>li{margin: 0}
ul.grid.li-auto._-0>li{width:var(--12)}

._-0>.w-0h{width:var(--0h)}
._-0>.w-1,._-0.li-12>li{width:var(--1)}
._-0>.w-1h,._-0.li-8>li{width:var(--1h)}
._-0>.w-2,._-0.li-6>li{width:var(--2)}
._-0>.w-2h{width:var(--2h)}
._-0>.w-3,._-0.li-4>li{width:var(--3)}
._-0>.w-3h{width:var(--3h)}
._-0>.w-4,._-0.li-3>li{width:var(--4)}
._-0>.w-4h{width:var(--4h)}
._-0>.w-5{width:var(--5)}
._-0>.w-5h{width:var(--5h)}
._-0>.w-6,._-0.li-2>li{width:var(--6)}
._-0>.w-6h{width:var(--6h)}
._-0>.w-7{width:var(--7)}
._-0>.w-7h{width:var(--7h)}
._-0>.w-8{width:var(--8)}
._-0>.w-8h{width:var(--8h)}
._-0>.w-9{width:var(--9)}
._-0>.w-9h{width:var(--9h)}
._-0>.w-10{width:var(--10)}
._-0>.w-10h{width:var(--10h)}
._-0>.w-11{width:var(--11)}
._-0>.w-11h{width:var(--11h)}
._-0>.w-12,._-0.li-1>li{width:var(--12)}
._-0.li-5>li{width:var(--n5)}
._-0.li-7>li{width:var(--n7)}
._-0.li-9>li{width:var(--n9)}
._-0.li-10>li{width:var(--n10)}
._-0.li-11>li{width:var(--n11)}
._-0>.ml-0h{margin-left:var(--0h)}
._-0>.ml-1{margin-left:var(--1)}
._-0>.ml-1h{margin-left:var(--1h)}
._-0>.ml-2{margin-left:var(--2)}
._-0>.ml-2h{margin-left:var(--2h)}
._-0>.ml-3{margin-left:var(--3)}
._-0>.ml-3h{margin-left:var(--3h)}
._-0>.ml-4{margin-left:var(--4)}
._-0>.ml-4h{margin-left:var(--4h)}
._-0>.ml-5{margin-left:var(--5)}
._-0>.ml-5h{margin-left:var(--5h)}
._-0>.ml-6{margin-left:var(--6)}
._-0>.ml-6h{margin-left:var(--6h)}
._-0>.ml-7{margin-left:var(--7)}
._-0>.ml-7h{margin-left:var(--7h)}
._-0>.ml-8{margin-left:var(--8)}
._-0>.ml-8h{margin-left:var(--8h)}
._-0>.ml-9{margin-left:var(--9)}
._-0>.ml-9h{margin-left:var(--9h)}
._-0>.ml-10{margin-left:var(--10)}
._-0>.ml-10h{margin-left:var(--10h)}
._-0>.ml-11{margin-left:var(--11)}
._-0>.ml-11h{margin-left:var(--11h)}
}
@media(min-width: 1024px){
.grid._0-,.grid._0->.cell,.grid._0->li{margin: 0}
ul.grid.liauto-._0->li{width:var(--12)}

._0->.w0h-{width:var(--0h)}
._0->.w1-,._0-.li12->li{width:var(--1)}
._0->.w1h-,._0-.li8->li{width:var(--1h)}
._0->.w2-,._0-.li6->li{width:var(--2)}
._0->.w2h-{width:var(--2h)}
._0->.w3-,._0-.li4->li{width:var(--3)}
._0->.w3h-{width:var(--3h)}
._0->.w4-,._0-.li3->li{width:var(--4)}
._0->.w4h-{width:var(--4h)}
._0->.w5-{width:var(--5)}
._0->.w5h-{width:var(--5h)}
._0->.w6-,._0-.li2->li{width:var(--6)}
._0->.w6h-{width:var(--6h)}
._0->.w7-{width:var(--7)}
._0->.w7h-{width:var(--7h)}
._0->.w8-{width:var(--8)}
._0->.w8h-{width:var(--8h)}
._0->.w9-{width:var(--9)}
._0->.w9h-{width:var(--9h)}
._0->.w10-{width:var(--10)}
._0->.w10h-{width:var(--10h)}
._0->.w11-{width:var(--11)}
._0->.w11h-{width:var(--11h)}
._0->.w12-,._0-.li1->li{width:var(--12)}
._0-.li5->li{width:var(--n5)}
._0-.li7->li{width:var(--n7)}
._0-.li9->li{width:var(--n9)}
._0-.li10->li{width:var(--n10)}
._0-.li11->li{width:var(--n11)}
._0->.ml0h-{margin-left:var(--0h)}
._0->.ml1-{margin-left:var(--1)}
._0->.ml1h-{margin-left:var(--1h)}
._0->.ml2-{margin-left:var(--2)}
._0->.ml2h-{margin-left:var(--2h)}
._0->.ml3-{margin-left:var(--3)}
._0->.ml3h-{margin-left:var(--3h)}
._0->.ml4-{margin-left:var(--4)}
._0->.ml4h-{margin-left:var(--4h)}
._0->.ml5-{margin-left:var(--5)}
._0->.ml5h-{margin-left:var(--5h)}
._0->.ml6-{margin-left:var(--6)}
._0->.ml6h-{margin-left:var(--6h)}
._0->.ml7-{margin-left:var(--7)}
._0->.ml7h-{margin-left:var(--7h)}
._0->.ml8-{margin-left:var(--8)}
._0->.ml8h-{margin-left:var(--8h)}
._0->.ml9-{margin-left:var(--9)}
._0->.ml9h-{margin-left:var(--9h)}
._0->.ml10-{margin-left:var(--10)}
._0->.ml10h-{margin-left:var(--10h)}
._0->.ml11-{margin-left:var(--11)}
._0->.ml11h-{margin-left:var(--11h)}
}