/*lucy-flash-drive v.0.8.0 HELPERS*/
@media(max-width: 639px){
/*
display
*/
.-dn,.-d-n,.dn{display:none!important}
/*
margin, padding
*/
.-m0,.-m-0,.m0{margin:0!important}
.-mlra,.-mlr-a,.mlra{margin-left:auto!important;margin-right:auto!important}
.-mt0,.-mt-0,.mt0{margin-top:0!important}
.-mt5px,.-mt-5px,.mt5px{margin-top:5px!important}
.-mt10px,.-mt-10px,.mt10px{margin-top:10px!important}
.-mt15px,.-mt-15px,.mt15px{margin-top:15px!important}
.-mt30px,.-mt-30px,.mt30px{margin-top:30px!important}
.-mt45px,.-mt-45px,.mt45px{margin-top:45px!important}
.-mb0,.-mb-0,.mb0{margin-bottom:0!important}
.-mb5px,.-mb-5px,.mb5px{margin-bottom:5px!important}
.-mb10px,.-mb-10px,.mb10px{margin-bottom:10px!important}
.-mb15px,.-mb-15px,.mb15px{margin-bottom:15px!important}
.-mb30px,.-mb-30px,.mb30px{margin-bottom:30px!important}
.-mb45px,.-mb-45px,.mb45px{margin-bottom:45px!important}
.-ml0,.-ml-0,.ml0{margin-left:0!important}
.-mr0,.-mr-0,.mr0{margin-right:0!important}
.-ml15px,.-ml-15px,.ml15px{margin-left:15px!important}
.-mr15px,.-mr-15px,.mr15px{margin-right:15px!important}
.-p0,.-p-0,.p0{padding:0!important}
.-pt0,.-pt-0,.pt0{padding-top:0!important}
.-pt5px,.-pt-5px,.pt5px{padding-top:5px!important}
.-pt10px,.-pt-10px,.pt10px{padding-top:10px!important}
.-pt15px,.-pt-15px,.pt15px{padding-top:15px!important}
.-pt30px,.-pt-30px,.pt30px{padding-top:30px!important}
.-pt45px,.-pt-45px,.pt45px{padding-top:45px!important}
.-pb0,.-pb-0,.pb0{padding-bottom:0!important}
.-pb5px,.-pb-5px,.pb5px{padding-bottom:5px!important}
.-pb10px,.-pb-10px,.pb10px{padding-bottom:10px!important}
.-pb15px,.-pb-15px,.pb15px{padding-bottom:15px!important}
.-pb30px,.-pb-30px,.pb30px{padding-bottom:30px!important}
.-pb45px,.-pb-45px,.pb45px{padding-bottom:45px!important}
.-pl0,.-pl-0,.pl0{padding-left:0!important}
.-pl10px,.-pl-10px,.pl10px{padding-left:10px!important}
.-pr0,.-pr-0,.pr0{padding-right:0!important}
.-pr10px,.-pr-10px,.pr10px{padding-right:10px!important}
/*
text
*/
.-tal,.-ta-l,.tal{text-align:left!important}
.-tar,.-ta-r,.tar{text-align:right!important}
.-tac,.-ta-c,.tac{text-align:center!important}
.-ttu,.-tt-u,.ttu{text-transform:uppercase!important}
.-fwl,.-fw-l,.fwl{font-weight:100!important}
.-fwn,.-fw-n,.fwn{font-weight:400!important}
.-fwb,.-fw-b,.fwb{font-weight:700!important}
.-cfff,.-c-fff,.cfff{color:#fff!important}
.-c000,.-c-000,.c000{color:#000!important}
.-bgcfff,.-bgc-fff,.bgcfff{background-color:#fff!important}
.-bgc000,.-bgc-000,.bgc000{background-color:#000!important}
/*
other
*/
.-db,.-d-b,.db{display:block!important}
.-dib,.-d-ib,.dib{display:inline-block!important}
.-fln,.-fl-n,.fln{float:none!important}
.-fll,.-fl-l,.fll{float:left!important}
.-flr,.-fl-r,.flr{float:right!important}
.-posr,.-pos-r,.posr{position:relative!important}
.-posa,.-pos-a,.posa{position:absolute!important}
.-posf,.-pos-f,.posf{position:fixed!important}
.-clb:after,.-cl-b:after,.clb:after{clear:both}
.-clb:before,.-clb:after,.-cl-b:before,.-cl-b:after,.clb:before,.clb:after{content:" ";display:table}
.-ovh,.-ov-h,.ovh{overflow:hidden!important}
.-ovv,.-ov-v,.ovv{overflow:visible!important}
.-w100pc,.-w-100pc,.w100pc{width:100%!important}
.-h100pc,.-h-100pc,.h100pc{height:100%!important}
}

@media(min-width: 640px) and (max-width: 1023px){
.d-n,.-d-n,.d-n-,.dn{display:none!important}
.m-0,.-m-0,.m-0-,.m0{margin:0!important}
.mlr-a,.-mlr-a,.mlr-a-,.mlra{margin-left:auto!important;margin-right:auto!important}
.mt-0,.-mt-0,.mt-0-,.mt0{margin-top:0!important}
.mt-5px,.-mt-5px,.mt-5px-,.mt5px{margin-top:5px!important}
.mt-10px,.-mt-10px,.mt-10px-,.mt10px{margin-top:10px!important}
.mt-15px,.-mt-15px,.mt-15px-,.mt15px{margin-top:15px!important}
.mt-30px,.-mt-30px,.mt-30px-,.mt30px{margin-top:30px!important}
.mt-45px,.-mt-45px,.mt-45px-,.mt45px{margin-top:45px!important}
.mb-0,.-mb-0,.mb-0-,.mb0{margin-bottom:0!important}
.mb-5px,.-mb-5px,.mb-5px-,.mb5px{margin-bottom:5px!important}
.mb-10px,.-mb-10px,.mb-10px-,.mb10px{margin-bottom:10px!important}
.mb-15px,.-mb-15px,.mb-15px-,.mb15px{margin-bottom:15px!important}
.mb-30px,.-mb-30px,.mb-30px-,.mb30px{margin-bottom:30px!important}
.mb-45px,.-mb-45px,.mb-45px-,.mb45px{margin-bottom:45px!important}
.ml-0,.-ml-0,.ml-0-,.ml0{margin-left:0!important}
.mr-0,.-mr-0,.mr-0-,.mr0{margin-right:0!important}
.ml-15px,.-ml-15px,.ml-15px-,.ml15px{margin-left:15px!important}
.mr-15px,.-mr-15px,.mr-15px-,.mr15px{margin-right:15px!important}
.p-0,.-p-0,.p-0-,.p0{padding:0!important}
.pt-0,.-pt-0,.pt-0-,.pt0{padding-top:0!important}
.pt-5px,.-pt-5px,.pt-5px-,.pt5px{padding-top:5px!important}
.pt-10px,.-pt-10px,.pt-10-,.pt10px{padding-top:10px!important}
.pt-15px,.-pt-15px,.pt-15-,.pt15px{padding-top:15px!important}
.pt-30px,.-pt-30px,.pt-30-,.pt30px{padding-top:30px!important}
.pt-45px,.-pt-45px,.pt-45px-,.pt45px{padding-top:45px!important}
.pb-0,.-pb-0,.pb-0-,.pb0{padding-bottom:0!important}
.pb-5px,.-pb-5px,.pt-5px-,.pb5px{padding-bottom:5px!important}
.pb-10px,.-pb-10px,.pt-10px-,.pb10px{padding-bottom:10px!important}
.pb-15px,.-pb-15px,.pt-15px-,.pb15px{padding-bottom:15px!important}
.pb-30px,.-pb-30px,.pt-30px-,.pb30px{padding-bottom:30px!important}
.pb-45px,.-pb-45px,.pt-45px-,.pb45px{padding-bottom:45px!important}
.pl-0,.-pl-0,.pb-0-,.pl0{padding-left:0!important}
.pl-10px,.-pl-10px,.pb-10px-,.pl10px{padding-left:10px!important}
.pr-0,.-pr-0,.pr-0-,.pr0{padding-right:0!important}
.pr-10px,.-pr-10px,.pr-10px-,.pr10px{padding-right:10px!important}

.ta-l,.-ta-l,.ta-l-,.tal{text-align:left!important}
.ta-r,.-ta-r,.ta-r-,.tar{text-align:right!important}
.ta-c,.-ta-c,.ta-c-,.tac{text-align:center!important}
.tt-u,.-tt-u,.tt-u-,.ttu{text-transform:uppercase!important}
.fw-l,.-fw-l,.fw-l-,.fwl{font-weight:100!important}
.fw-n,.-fw-n,.fw-n-,.fwn{font-weight:400!important}
.fw-b,.-fw-b,.fw-b-,.fwb{font-weight:700!important}
.c-fff,.-c-fff,.c-fff-,.cfff{color:#fff!important}
.c-000,.-c-000,.c-000-,.c000{color:#000!important}
.bgc-fff,.-bgc-fff,.bgc-fff-,.bgcfff{background-color:#fff!important}
.bgc-000,.-bgc-000,.bgc-000-,.bgc000{background-color:#000!important}

.d-b,.-d-b,.d-b-,.db{display:block!important}
.d-ib,.-d-ib,,.dib{display:inline-block!important}
.fl-n,.-fl-n,.fl-n-,.fln{float:none!important}
.fl-l,.-fl-l,.fl-l-,.fll{float:left!important}
.fl-r,.-fl-r,.fl-r-,.flr{float:right!important}
.pos-r,.-pos-r,.pos-r-,.posr{position:relative!important}
.pos-a,.-pos-a,.pos-a-,.posa{position:absolute!important}
.pos-f,.-pos-f,.pos-f-,.posf{position:fixed!important}
.cl-b:after,.-cl-b:after,.cl-b-:after,.clb:after{clear:both}
.cl-b:before,.cl-b:after,.-cl-b:before,.-cl-b:after,.cl-b-:before,.cl-b-:after,.clb:before,.clb:after{content:" ";display:table}
.ov-h,.-ov-h,.ov-h-,.ovh{overflow:hidden!important}
.ov-v,.-ov-v,.ov-v-,.ovv{overflow:visible!important}
.w-100pc,.-w-100pc,.w-100pc-,.w100pc{width:100%!important}
.h-100pc,.-h-100pc,.h-100pc-,.h100pc{height:100%!important}
}
@media (min-width: 1024px){
.dn-,.d-n-,.dn{display:none!important}
.m0-,.m-0-,.m0{margin:0!important}
.mlra-,.mlr-a-,.mlra{margin-left:auto!important;margin-right:auto!important}
.mt0-,.mt-0-,.mt0{margin-top:0!important}
.mt5px-,.mt-5px-,.mt5px{margin-top:5px!important}
.mt10px-,.mt-10px-,.mt10px{margin-top:10px!important}
.mt15px-,.mt-15px-,.mt15px{margin-top:15px!important}
.mt30px-,.mt-30px-,.mt30px{margin-top:30px!important}
.mt45px-,.mt-45px-,.mt45px{margin-top:45px!important}
.mb0-,.mb-0-,.mb0{margin-bottom:0!important}
.mb5px-,.mb-5px-,.mb5px{margin-bottom:5px!important}
.mb10px-,.mb-10px-,.mb10px{margin-bottom:10px!important}
.mb15px-,.mb-15px-,.mb15px{margin-bottom:15px!important}
.mb30px-,.mb-30px-,.mb30px{margin-bottom:30px!important}
.mb45px-,.mb-45px-,.mb45px{margin-bottom:45px!important}
.ml0-,.ml-0-,.ml0{margin-left:0!important}
.mr0-,.mr-0-,.mr0{margin-right:0!important}
.ml15px-,.ml-15px-,.ml15px{margin-left:15px!important}
.mr15px-,.mr-15px-,.mr15px{margin-right:15px!important}
.p0-,.p-0-,.p0{padding:0!important}
.pt0-,.pt-0-,.pt0{padding-top:0!important}
.pt5px-,.pt-5px-,.pt5px{padding-top:5px!important}
.pt10px-,.pt-10px-,.pt10px{padding-top:10px!important}
.pt15px-,.pt-15px-,.pt15px{padding-top:15px!important}
.pt30px-,.pt-30px-,.pt30px{padding-top:30px!important}
.pt45px-,.pt-45px-,.pt45px{padding-top:45px!important}
.pb0-,.pb-0-,.pb0{padding-bottom:0!important}
.pb5px-,.pb-5px-,.pb5px{padding-bottom:5px!important}
.pb10px-,.pb-10px-,.pb10px{padding-bottom:10px!important}
.pb15px-,.pb-15px-,.pb15px{padding-bottom:15px!important}
.pb30px-,.pb-30px-,.pb30px{padding-bottom:30px!important}
.pb45px-,.pb-45px-,.pb45px{padding-bottom:45px!important}
.pl0-,.pl-0-,.pl0{padding-left:0!important}
.pl10px-,.pl-10px-,.pl10px{padding-left:10px!important}
.pr0-,.pr-0-,.pr0{padding-right:0!important}
.pr10px-,.pr-10px-,.pr10px{padding-right:10px!important}

.tal-,.ta-l-,.tal{text-align:left!important}
.tar-,.ta-r-,.tar{text-align:right!important}
.tac-,.ta-c-,.tac{text-align:center!important}
.ttu-,.tt-u-,.ttu{text-transform:uppercase!important}
.fwl-,.fw-l-,.fwl{font-weight:100!important}
.fwn-,.fw-n-,.fwn{font-weight:400!important}
.fwb-,.fw-b-,.fwb{font-weight:700!important}
.cfff-,.c-fff-,.cfff{color:#fff!important}
.c000-,.c-000-,.c000{color:#000!important}
.bgcfff-,.bgc-fff-,.bgcfff{background-color:#fff!important}
.bgc000-,.bgc-000-,.bgc000{background-color:#000!important}

.db-,.d-b-,.db{display:block!important}
.dib-,.d-ib-,.dib{display:inline-block!important}
.fln-,.fl-n-,.fln{float:none!important}
.fll-,.fl-l-,.fll{float:left!important}
.flr-,.fl-r-,.flr{float:right!important}
.posr-,.pos-r-,.posr{position:relative!important}
.posa-,.pos-a-,.posa{position:absolute!important}
.posf-,.pos-f-,.posf{position:fixed!important}
.cb-:after,.cl-b-:after,.clb:after{clear:both}
.cl-b-:before,.cl-b-:after,.cl-b-:before,.cl-b-:after,.clb:before,.clb:after{content:" ";display:table}
.ovh-,.ov-h-,.ovh{overflow:hidden!important}
.ovv-,.ov-v-,.ovv{overflow:visible!important}
.w100pc-,.w-100pc-,.w100pc{width:100%!important}
.h100pc-,.h-100pc-,.h100pc{height:100%!important}
}